<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Managing Member State claims
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Overseas Healthcare Services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage incoming international healthcare claims - NHSBSA</span>
      </h1>



      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l">Alpha
        <span class="nhsuk-caption-m nhsuk-caption--bottom">July 2023 - Current</span>
      </h2>

                  <!-- Version 5 -->
                  <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text" style="width: 95%;">
                        Version 5 - January 2024
                        <strong class="nhsuk-tag nhsuk-tag--yellow" style="float:right;">
                          In progress (with UI)
                        </strong>
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <h4>Aims:</h4>
                      <ul>
                        <li>Iterate based on UR feedback</li>
                        <li>To enable a user to manually process an S1 invoice where the person could not be found</li>
                      </ul>
                      <h4>Prototype for UR</h4>
                      <div class="nhsuk-action-link">
                        <a class="nhsuk-action-link__link" href="version-05/claims/invoices/details/person-not-found/s1-default">
                          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path
                              d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                            </path>
                          </svg>
                          <span class="nhsuk-action-link__text">Start journey</span>
                        </a>
                      </div>
            
                      <hr />
            
                      <h4>Quick links for UI</h4>
                      <ul>
                        <li><a href="version-05/sign-in">Start full journey</a></li>
                      </ul>
            
                      <hr />
        
                    </div>
                  </details>
                  <!-- End of version 4 -->

            <!-- Version 4 -->
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text" style="width: 95%;">
                  Version 4 - January 2024
                  <strong class="nhsuk-tag nhsuk-tag--green" style="float:right;">
                    UR complete
                  </strong>
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h4>Aims:</h4>
                <ul>
                  <li>Iterate based on UR feedback</li>
                  <li>To enable a user to review the progress of submitted invoices</li>
                  <li>To enable a user to view and filter a list of claims</li>
                  <li>To enable a user to view and filter a list of invoices</li>
                </ul>
                <h4>Prototype for UR</h4>
                <div class="nhsuk-action-link">
                  <a class="nhsuk-action-link__link" href="version-04/claims/index">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                      </path>
                    </svg>
                    <span class="nhsuk-action-link__text">Start journey</span>
                  </a>
                </div>
      
                <hr />
      
                <h4>Quick links for UI</h4>
                <ul>
                  <li><a href="version-04/sign-in">Start full journey</a></li>
                  <li><a href="version-04/claims/index">Claim list page</a></li>
                  <li><a href="version-04/claims/invoices/full-invoice-list">Invoices list page</a></li>
                </ul>
      
                <hr />
      

      
              </div>
            </details>
            <!-- End of version 4 -->


      <!-- Version 3 -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text" style="width: 95%;">
            Version 3 - October 2023
            <strong class="nhsuk-tag nhsuk-tag--green" style="float:right;">
              UR complete
            </strong>
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Aims:</h4>
          <ul>
            <li>Iterate based on sprint 3 UR feedback</li>
            <li>To enable a user to upload a RINA file</li>
          </ul>
          <h4>Prototype for UR</h4>
          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="version-03/sign-in">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                </path>
              </svg>
              <span class="nhsuk-action-link__text">Start journey</span>
            </a>
          </div>

          <hr />

          <h4>Quick links for UI</h4>
          <ul>
            <li><a href="version-03/claims/create/index">Create claim</a></li>
            <li><a href="version-03/claims/invoices/upload/index">Add invoices</a></li>
          </ul>

          <hr />

          <h4>Post MVP screens</h4>
          <ul>
            <li><a href="version-03/post-mvp/claim-summary/not-started">Edit/delete a claim shell</a></li>
          </ul>

        </div>
      </details>
      <!-- End of version 3 -->

      <!-- Version 2 -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text" style="width:95%">
            Version 2 - October 2023
            <strong class="nhsuk-tag nhsuk-tag--green" style="float:right;">
              UR complete
            </strong>
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Aims:</h4>
          <ul>
            <li>Iterate based on sprint 2 UR feedback</li>
            <li>To enable the user to create a claim</li>
          </ul>
          <h4>Prototype:</h4>
          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="version-02/sign-in">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                </path>
              </svg>
              <span class="nhsuk-action-link__text">Start journey</span>
            </a>
          </div>
        </div>
      </details>
      <!-- End of version 2 -->

      <!-- Version 1 -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text" style="width: 95%">
            Version 1 - August 2023
            <strong class="nhsuk-tag nhsuk-tag--green" style="float:right;">
              UR complete
            </strong>
          </span>

        </summary>
        <div class="nhsuk-details__text">
          <h4>Aims:</h4>
          <ul>
            <li>To establish the most efficient and user friendly user interface for all journeys within the new service
            </li>
            <li>To allow the user to create a claim</li>
            <li>To allow the user to upload a RINA file to an existing claim</li>
          </ul>
          <h4>Prototypes:</h4>
          <h5>One page per question</h5>
          <ul>
            <li><a href="version-01/claims/screen-per-question/with-navigation/index">With navigation</a></li>
            <li><a href="version-01/claims/screen-per-question/without-navigation/index">Without navigation</a></li>
          </ul>

          <h5>Single page for all questions</h5>
          <ul>
            <li><a href="version-01/claims/screen-all-questions/with-navigation/index">With navigation, with hint
                text</a></li>
            <li><a href="version-01/claims/screen-all-questions/with-navigation/create/without-hint-text">With
                navigation, no hint text</a></li>
            <li><a href="version-01/claims/screen-all-questions/with-navigation/create/expander-hint-text">With
                navigation, side hint text guide</a></li>
            <li><a href="version-01/claims/screen-all-questions/without-navigation/index">Without navigation</a></li>
          </ul>

          <h5>Multi page - 3 screens</h5>
          <ul>
            <li><a href="version-01/claims/hybrid/with-navigation/index">With navigation</a></li>
            <li><a href="version-01/claims/hybrid/without-navigation/index">Without navigation</a></li>
          </ul>

        </div>
      </details>
      <!-- End of version 1 -->

      <!-- start templates -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text" style="width: 95%">
            Sprint 1 & 2 - Site-wide high level UI elements
            <strong class="nhsuk-tag nhsuk-tag--green" style="float:right;">
              UR complete
            </strong>
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Aims:</h4>
          <ul>
            <li>To establish a solid design foundation upon which to build the new service</li>
            <li>To create a central store of re-usable templates for efficient prototype development throughout the
              project</li>
          </ul>
          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Prototypes:</h4>
          <ul>
            <!-- <li><a href="templates/standard-page">Header and left navigation</a></li>
                        <li><a href="templates/transactional-page">Header only</a></li> -->
            <li><a href="templates/standard-page-full">Standard page</a> - header, breadcrumb, main navigation, footer
            </li>
          </ul>
          <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Resources:</h4>
          <ul>
            <li><a href="https://bsa2468.atlassian.net/l/cp/LR2Mos0J" target="_blank">Confluence</a></li>
            <li><a href="https://miro.com/app/board/uXjVMxM_Gh4=/?share_link_id=387914381265" target="_blank">Miro</a>
            </li>
          </ul>
        </div>
      </details>
      <!-- end templates -->

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="style-guide/index">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
            </path>
          </svg>
          <span class="nhsuk-action-link__text">Style guide</span>
        </a>
      </div>


      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}