<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Credit note ID 9435</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Individual credit note ID 10003843</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of header block -->
 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
                <span class="nhsuk-caption-l">Process an individual credit note</span>
                Check your individual credit note decision
            </h1>
        </legend>
    </div>
</div>
<!-- End of header block -->

<div class="nhsuk-grid-row">

    <!-- Start question -->
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card nhsuk-u-margin-bottom-3">
            <div class="nhsuk-card__content">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Contestation reason
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Corresponding claim not found.
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a href="">
                                Change<span class="nhsuk-u-visually-hidden"> contestation reason</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <a href="09-confirmation" class="nhsuk-button" role="button" data-module="nhsuk-button">Submit</a>
            </div>
        </div>
        <p class="nhsuk-body"><a href="#">Cancel</a></p>
    </div>
    <!-- End question -->

    <!-- Start details column -->
    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                    Individual credit note details from France
                </h3>
                <hr style="margin:0px 0px 8px 0px;">
                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Credit amount
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            100.50
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                    Matched invoice details
                </h3>
                <hr style="margin:0px 0px 8px 0px;">
                <p class="nhsuk-body" style="margin-top:16px;">No match found.</p>
            </div>
        </div>

    </div>
    <!-- End details column -->

</div>

{% endblock %}
<!-- End of central content -->