<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Credit note ID 9435</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            <span class="nhsuk-caption-l">Credit note ID 9435 - France</span>
            Individual credit note ID 10003843
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-half" style="text-align:right;">
        <a href="#" class="nhsuk-button" role="button" data-module="nhsuk-button">Edit individual credit note</a>
        <a href="#" class="nhsuk-button nhsuk-button--secondary" role="button" data-module="nhsuk-button">Exit
            individual
            credit note</a>
    </div>
</div>
<!-- End of header block -->

<!-- Start of key information box-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Individual credit note reference
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            11661234KK0002
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Current status
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong class="nhsuk-tag nhsuk-tag--red">
                                Contested
                            </strong>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- End of key information box -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">
                Contents
            </h2>

            <!-- Start of tab titles -->
            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#summary">
                        Summary
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#import">
                        Imported individual credit note
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#notes">
                        Notes
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#history">
                        History
                    </a>
                </li>
            </ul>
            <!-- End of tab titles -->

            <!-- *** Start of summary tab content *** -->
            <div class="nhsuk-tabs__panel" id="summary">

                <!-- Start of header block -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Summary</h2>
                    </div>
                </div>
                <!-- End of header block -->

                <!-- Start credit note decision -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                            Individual credit note decision
                        </h3>
                    </div>
                </div>
                <div class="nhsuk-grid-row ">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-9">
                            <div class="nhsuk-card__content" style="padding:16px;">
                                <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-0">
                                    <li
                                        class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-0">
                                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                            <div class="nhsuk-card__content nhsuk-u-margin-bottom-0">
                                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">0 <span
                                                        class="nhsuk-u-visually-hidden">credit withdrawn from accepted
                                                        amount</span>
                                                </p>Credit withdrawn from accepted amount
                                            </div>
                                        </div>
                                    </li>
                                    <li
                                        class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-0">
                                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                            <div class="nhsuk-card__content">
                                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">0 <span
                                                        class="nhsuk-u-visually-hidden">credit withdrawn from contested
                                                        amount</span>
                                                </p>Credit withdrawn from contested amount
                                            </div>
                                        </div>
                                    </li>
                                    <li
                                        class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-0">
                                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                            <div class="nhsuk-card__content">
                                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">100.50 <span
                                                        class="nhsuk-u-visually-hidden">contested credit amount</span>
                                                </p>Contested credit amount
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <div class="nhsuk-inset-text nhsuk-u-margin-bottom-0"
                                            style="max-width:none; margin-top:16px;">
                                            <span class="nhsuk-u-visually-hidden">Information:</span>
                                            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Contestation reason
                                            </h4>
                                            <p>Corresponding claim not found.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End credit note decision -->

                <!-- Start data comparison -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                            Individual credit note details from France
                        </h3>
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content" style="padding:16px;">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Credit amount
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            100.50
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Invoice reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            26585591
                                        </dd>
                                    </div>
                                </dl>

                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Person details
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Robertson
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Hector
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            19 February 1980
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            PIN in UK
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            JM 76 32 45 A
                                        </dd>
                                    </div>
                                </dl>

                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Invoice period
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            10 August 2023
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            End date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            13 August 2023
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                                    Matched invoice
                                </h3>
                            </div>
                        </div>

                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content" style="padding:16px;">
                                <p class="nhsuk-body">No match found.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End data comparison -->

            </div>
            <!-- *** End of summary tab *** -->

            <!-- *** Start of imported individual credit note tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="import">
                <h2 class="nhsuk-heading-l">Imported individual credit note</h2>
            </div>
            <!-- *** End of imported individual credit note tab *** -->

            <!-- *** Start of notes tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h2 class="nhsuk-heading-l">Notes</h2>
                    </div>

                    <div class="nhsuk-grid-column-one-third">
                        <button style="float:right;" class="nhsuk-button nhsuk-button--secondary"
                            data-module="nhsuk-button" type="submit">
                            Add a new note
                        </button>
                    </div>
                </div>

                <p class="nhsuk-body">There are currently no notes.</p>
            </div>
            <!-- *** End of notes tab *** -->

            <!-- *** Start of history tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="history">
                <h2 class="nhsuk-heading-l">History</h2>

            </div>
            <!-- *** End of history tab *** -->

        </div>
    </div>
</div>
<!-- End of tabs-->

</div>
</div>

{% endblock %}
<!-- End of central content -->