<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
    name: 'Home',
    path: '/alpha/version-05/home'
    },
    {
    name: 'Claims',
    path: '/alpha/version-05/claims/index',
    active: true
    },
    {
    name: 'Contested claims',
    path: '#'
    },
    {
    name: 'Reports',
    path: '#'
    }
    ]
    %}

<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Invoice created - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../claims/index">Claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../full-invoice-list">Invoices</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../full-invoice-list.html">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
               invoice list
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content  -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Start of cya -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">


                <div class="confirmation-box">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Invoice created for {% if data['first-name'] %}{{
                        data['first-name'] }}{{data['last-name']}}{% else %}Reece Bell{% endif %}
                    </h1>
                    <h2 class="heading-large"><span class="heading-secondary" style="color:white;">Invoice ID: 
                            <br />
                            01578
                        </span>

                    </h2>
                </div>
                <p>You have created a new invoice for {% if data['first-name'] %}{{
                    data['first-name'] }}{{data['last-name']}}{% else %}Reece Bell{% endif %}
                    for a total treatment amount of {% if data['amount-or-months'] %}{{ data['amount-or-months'] }}{% else
                    %}121.7{% endif %} starting from 14 February 2022 and ending on 27 February 2022.</p>
                    <p>The Invoice Reference Number is {% if data['invoice-ref'] %}{{ data['invoice-ref'] }}{% else
                        %}0039795426{% endif %}.</p>
                <h2 class="heading-medium">What happens next</h2>
                <p>System will try to auto validate the invoice.</p>
                
                <a href="index">
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Add a new invoice
                    </button>
                </a>
                
                <a href="../full-invoice-list">
                    <button style="margin-right:12px;" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                        Go to Invoices
                    </button>
                </a>
                
            </div>
        </div>
        <!-- End of cya -->

    </div>
</div>
{% endblock %}
<!-- End of central content -->