<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Reply to contestation details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6799</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Reply to contestation ID 8442</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="confirmation-box">
            <h1 class="heading-xlarge"><span id="done-tick"></span>Invoices selected for<br />reply to contestation ID 8442
            </h1>
        </div>
        <p>You've sucessfully selected invoices to add to reply to contestation ID 8442 for Spain.</p>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">4 <span class="nhsuk-u-visually-hidden">Total invoices</span></p>Total invoices
                    </div>
                  </div>
                </li>
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">22 <span class="nhsuk-u-visually-hidden">Total amount (months)</span></p>Total amount (months)
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            </div>

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

        <h2 class="heading-medium">What happens next</h2>
        <p>You can continue to add and remove invoices up to the point where you mark the invoice selection as complete.</p>
        <p>Once the invoice selection is marked as complete, you will not be able to make any more changes.</p>

        <a href="14-active#invoices">
            <button style="margin-right:12px;" class="nhsuk-button" data-module="nhsuk-button" type="button">
                Return to reply to contestation
            </button>
        </a>

    </div>
</div>






{% endblock %}