# Node modules
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# Dependency directories
/node_modules
/bower_components

# Python virtual environment
venv/

app/views/alpha/version-08/records/claims_new_data.json