<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->


<!-- Set the page title -->
{% block pageTitle %}
  Overseas Healthcare Services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Overseas Healthcare Services
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">
        Use this service to:
      </p>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Manage entitlements</a>
              </h2>
              <p class="nhsuk-card__description">Provide entitlements for people moving to any European Economic Area (EEA) country or Switzerland</p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Manage claims</a>
              </h2>
              <p class="nhsuk-card__description">Accept, decline and contest claims made by member states</p>
            </div>
          </div>
      
        </li>


      </ul>
      
      
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
