<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Home',
path: '/alpha/version-04/home',
active: true
},
{
name: 'Claims',
path: '/alpha/version-04/claims/index'
},
{
name: 'Contested claims',
path: '/alpha/version-04/contestations/index'
},
{
name: 'Reports',
path: '/alpha/version-04/reports/index'
}
]
%}

<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}

<!-- Start of page title -->
{% block pageTitle %}
Create a new claim - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <span class="nhsuk-caption-s nhsuk-caption--bottom">Last logged in: 1 September 2023</span>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl ">
      Welcome Isla Fields
    </h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <!-- Start search layout -->
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-l">
              Search
            </h3>
            <hr style="margin:-6px 0px 12px 0px;" />

            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#claim">
                    Claim
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#contestation">
                    Contestation
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#person">
                    Person
                  </a>
                </li>
              </ul>

              <!-- Start claim search -->
              <div class="govuk-tabs__panel" id="claim">
                <h2 class="nhsuk-heading-l">Claim</h2>
                <form>

                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Claim ID -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">
                        <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="claim-id">
                          Claim ID
                        </label>
                        <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="article-hint">
                          For example, 7893.
                        </div>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="claim-id" name="claim-id" type="text">
                      </div>

                      <!-- Country submitting the claim -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">
                        <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="country">
                          Country submitting the claim
                        </label>
                        <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="country-hint">
                          For example, France.
                        </div>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="country" name="country" type="text">
                      </div>

                      <!-- Claim reference -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">
                        <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="ref">
                          Claim reference
                        </label>
                        <div class="nhsuk-hint nhsuk-u-margin-bottom-1 nhsuk-u-width-two-thirds" id="ref-hint">
                          The reference given by the member state. For example, 33778844AA890E.
                        </div>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="ref" name="ref" type="text">
                      </div>

                      <!-- Financial year of claim -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">
                        <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="financial-year">
                          Financial year of claim
                        </label>
                        <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="article-hint">
                          For example, 2023.
                        </div>
                        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="financial-year" name="financial-year"
                          type="text">
                      </div>
                    </div>

                    <div class="nhsuk-grid-column-one-half">
                      <!-- Article covering the claim -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">
                        <fieldset class="nhsuk-fieldset">
                          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                              Article covering the claim
                            </h1>
                          </legend>

                          <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="article-hint">
                            Select one option.
                          </div>
                          <div class="nhsuk-radios">

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="article-actual" name="article" type="radio"
                                value="Actual cost">
                              <label class="nhsuk-label nhsuk-radios__label" for="article-actual">
                                Actual cost
                              </label>
                            </div>

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="article-average-2a" name="article" type="radio"
                                value="Article 63 (2a) - average cost">
                              <label class="nhsuk-label nhsuk-radios__label" for="article-average-2a">
                                Article 63 (2a) - average cost
                              </label>
                            </div>

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="article-average-2b" name="article" type="radio"
                                value="Article 63 (2b) - average cost">
                              <label class="nhsuk-label nhsuk-radios__label" for="article-average-2b">
                                Article 63 (2b) - average cost
                              </label>
                            </div>

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="article-average-2b" name="article" type="radio"
                                value="AW03 - DA1 claims">
                              <label class="nhsuk-label nhsuk-radios__label" for="article-average-2b">
                                AW03 - DA1 claims
                              </label>
                            </div>

                          </div>
                        </fieldset>
                      </div>

                      <!-- Type of claim -->
                      <div class="nhsuk-form-group nhsuk-u-padding-bottom-4">

                        <fieldset class="nhsuk-fieldset" aria-describedby="type-hint">
                          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                              Type of claim
                            </h1>
                          </legend>

                          <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="type-hint">
                            Select one option.
                          </div>

                          <div class="nhsuk-radios">

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="type-main" name="type" type="radio" value="Main">
                              <label class="nhsuk-label nhsuk-radios__label" for="type-main">
                                Main
                              </label>
                            </div>

                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="type-supplementary" name="type" type="radio"
                                value="Supplementary">
                              <label class="nhsuk-label nhsuk-radios__label" for="type-supplementary">
                                Supplementary
                              </label>
                            </div>

                          </div>
                        </fieldset>

                      </div>
                    </div>
                  </div>

                  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                    Search
                  </button>
                </form>
              </div>
              <!-- End claim search -->

              <!-- Start contestaion search -->
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contestation">
                <h2 class="nhsuk-heading-l">Contestation</h2>
                <form style="height:300px;">
                </form>
              </div>
              <!-- End contestation search-->

              <!-- Start person search -->
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="person">
                <h2 class="nhsuk-heading-l">Person</h2>
                <form style="height:300px;">
                </form>
              </div>
              <!-- End person search-->

            </div>
          </div>
        </div>
        <!-- End search layout -->

        <!-- Start recently edited-->
        <ul class="nhsuk-grid-row nhsuk-card-group">
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <!-- Claims -->
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading nhsuk-heading-s">
                  Claims recently edited by you
                </h3>

                <table role="table" class="nhsuk-table-responsive">

                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Claim ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Country
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Claim ID
                        </span>8474
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country
                        </span>France
                      </td>
                      <td><a href="">View</a></td>

                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Claim ID
                        </span>5477
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country
                        </span>Germany
                      </td>
                      <td><a href="">View</a></td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Claim ID
                        </span>3677
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country
                        </span>Switzerland
                      </td>
                      <td><a href="">View</a></td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>

          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

            <!-- Contestations -->
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading nhsuk-heading-s">
                  Contestations recently edited by you
                </h3>


                <table role="table" class="nhsuk-table-responsive">

                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Contestation ID
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Country
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Contestation ID
                        </span>3654
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country
                        </span>Spain
                      </td>
                      <td><a href="">View</a></td>

                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Contestation ID
                        </span>3984
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Country
                        </span>Austria
                      </td>
                      <td><a href="">View</a></td>
                    </tr>


                  </tbody>
                </table>

              </div>
            </div>

          </li>


        </ul>




        <!-- End recently edited -->


      </div>




    </div>




    <!-- End of content -->

  </div>
</div>
<!-- End of main content -->

</div>
</div>
{% endblock %}
<!-- End of central content -->