<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-05/claims/summary/invoices-uploaded'
},
{
name: 'Invoices',
path: '/alpha/version-05/claims/treatment-forms/full-invoice-list',
active: true
},
{
name: 'Uploaded files',
path: '/alpha/version-05/claims/treatment-forms/with-treatments'
},
{
name: 'History',
path: '/alpha/version-05/claims/case-history/index'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Treatment form details - Managing Member State claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of back link -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.back()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>
  </div>
</div>
<!-- End of back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">
      Invoice details
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Invoice reference: 0039795410</span>
    </h1>


  </div>
  <div class="nhsuk-grid-column-one-half">
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float:right;">
      Mark complete
    </button>
  </div>
</div>
<!-- End of header block -->

<!-- Start of view imported invoice-->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    

    <details class="nhsuk-details nhsuk-u-margin-bottom-8">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          View imported invoice
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <div class="nhsuk-grid-row">

          






          <div class="nhsuk-grid-column-full">
            <!-- start invoice details -->
            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
              Invoice details
            </h4>
            <hr style="margin:0px 0px 12px 0px;">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Reference
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0038785477
                </dd>
              </div>







              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Total reference
                </dt>
                <dd class="nhsuk-summary-list__value">
                  12345
                </dd>
              </div>




              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Rejected code
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
              </div>





              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Financial year
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Half year
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Social category
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Nature of benefits
                </dt>
                <dd class="nhsuk-summary-list__value">
                  1
                </dd>
              </div>



            </dl>
            <!-- end invoice details -->

            <!-- start entitlement details -->


            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
              Entitlement details
            </h4>
            <hr style="margin:0px 0px 12px 0px;">
            <dl class="nhsuk-summary-list">





              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Type
                </dt>
                <dd class="nhsuk-summary-list__value">
                  S1
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Form date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  31 December 2021
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01 January 2022
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  End date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  31 December 2022
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Document date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  31 December 2021
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  EHIC number
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
              </div>





            </dl>



            <!-- end entitlement details -->
            <!-- start person details -->


            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
              Person details
            </h4>
            <hr style="margin:0px 0px 12px 0px;">
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Bob
                </dd>
              </div>




            </dl>



            <!-- end person details -->
          </div>












          <!-- Start treatment info-->


          <div class="nhsuk-grid-column-full">
            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
              Treatment details
            </h4>
            <hr style="margin:0px 0px 12px 0px;">

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:40%">
                  Start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01 June 2023
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:40%">
                  End date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  02 June 2023
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:40%">
                  Medical treatment
                </dt>
                <dd class="nhsuk-summary-list__value">
                  2134.75
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Dental treatment
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Medicaments
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation start date 1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation end date 1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation cost 1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation start date 2
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation end date 2
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Hospitalisation cost 2
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other benefits details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Other benefits
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Total benefits in kind
                </dt>
                <dd class="nhsuk-summary-list__value">
                  2134.75
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Medical exam
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Cash benefits start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Cash benefits end date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Cash benefits total
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Total cost
                </dt>
                <dd class="nhsuk-summary-list__value">
                  2134.75
                </dd>
              </div>

            </dl>

          </div>

          <!-- End treatment info-->
        </div>
      </div>
    </details>
  </div>
</div>

<!-- End of view imported invoice -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">
        Contents
      </h2>

      <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#summary">
            Summary
          </a>
        </li>
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#notes">
            Notes
          </a>
        </li>
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#history">
            History
          </a>
        </li>

      </ul>

      <!-- *** Start of summary tab *** -->
      <div class="nhsuk-tabs__panel" id="summary">



        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-heading-l">Summary</h2>
          </div>
          <div class="nhsuk-grid-column-one-third">
            <strong class="nhsuk-tag nhsuk-tag--yellow" style="float:right">
              To check
            </strong>
          </div>
        </div>





        <!-- Start of status -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-two-thirds">
                    <h3 class="nhsuk-card__heading">
                      Status
                    </h3>
                  </div>

                </div>
                <hr style="margin:0px 0px 12px 0px;">
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                        Accepted
                      </label>
                      <input class="nhsuk-input " id="accepted" name="accepted" type="text" value="0">
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="withdrawn">
                        Withdrawn
                      </label>
                      <input class="nhsuk-input " id="withdrawn" name="withdrawn" type="text" value="0">
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="contested">
                        Contested
                      </label>
                      <input class="nhsuk-input " id="contested" name="contested" type="text" value="2134.75">
                    </div>
                  </div>
                </div>

                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="contestation-reason">
                        Contestation reason
                      </label>
                      <select class="nhsuk-select nhsuk-u-width-full" id="contestation-reason"
                        name="contestation-reason">
                        <option value="">Select contestation reason</option>
                        <option value="This document does not concern us">This document does not concern us</option>

                        <option value="Institution code is incorrect. Please provide correct institution code.">
                          Institution
                          code is incorrect. Please provide correct institution code.</option>

                        <option value="Unable to identify the person from the information provided. Please check."
                          selected>
                          Unable to
                          identify the person from the information provided. Please check.</option>

                        <option value="Entitlement document is unknown or not found. Please provide copy.">
                          Entitlement
                          document is unknown or not found. Please provide copy.</option>

                        <option value="Scheduled treatment may be suspected. Please check.">Scheduled treatment may
                          be
                          suspected. Please check.</option>

                        <option value="There is an overlapping in hospitalisation periods. Please adjust the claim.">
                          There
                          is an overlapping in hospitalisation periods. Please adjust the claim.</option>

                        <option
                          value="Person was not insured during benefits period. Please provide copy of entitlement document.">
                          Person was not insured during benefits period. Please provide copy of entitlement
                          document.
                        </option>

                        <option value="The period of benefits in kind is not covered by the entitlement period">The
                          period
                          of benefits in kind is not covered by the entitlement period</option>

                        <option
                          value="The period of benefits in kind is partially covered by the entitlement period. Please adjust the claim.">
                          The period of benefits in kind is partially covered by the entitlement period. Please
                          adjust the
                          claim.</option>

                        <option value="The costs are to be settled by lump-sum as from [date should be filled in].">
                          The
                          costs are to be settled by lump-sum as from [date should be filled in].</option>

                        <option value="The costs are to be settled by lump-sum until [date should be filled in].">
                          The costs
                          are to be settled by lump-sum until [date should be filled in].</option>

                        <option value="The person is not registered on the entitlement document">The person is not
                          registered on the entitlement document</option>

                        <option value="The entitlement document has not been registered.">The entitlement document
                          has not
                          been registered.</option>

                        <option value="Double invoice [duplicated invoice number should be filled in]">Double
                          invoice
                          [duplicated invoice number should be filled in]</option>

                        <option
                          value="The entitlement in the state of residence started on [date should be filled in].">
                          The
                          entitlement in the state of residence started on [date should be filled in].</option>

                        <option
                          value="The benefits seem to concern an accident at work that happened on [date should be filled in].">
                          The benefits seem to concern an accident at work that happened on [date should be filled
                          in].
                        </option>

                        <option value="The person died on [date should be filled in]">The person died on [date
                          should be
                          filled in]</option>

                        <option value="Lack of information about the other benefits provided. Please specify">Lack
                          of
                          information about the other benefits provided. Please specify</option>

                        <option value="Total amount of claim different to the sum of individual claims">Total amount
                          of
                          claim different to the sum of individual claims</option>

                        <option value="Total amount of individual claim different to the sum of benefits">Total
                          amount of
                          individual claim different to the sum of benefits</option>

                        <option value="Cost of benefits have been refunded in full or partially to the insured person">
                          Cost
                          of benefits have been refunded in full or partially to the insured person</option>

                        <option value="Claim introduced after deadline [date should be filled in]">Claim introduced
                          after
                          deadline [date should be filled in]</option>

                        <option value="Contestation reply received after deadline [date should be filled in].">
                          Contestation
                          reply received after deadline [date should be filled in].</option>

                        <option value="Other">Other</option>

                      </select>
                    </div>
                  </div>
                </div>
                </fieldset>
                </form>
                <br />
                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of status -->




        <!-- Start of claim and entitlement details -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <ul class="nhsuk-grid-row nhsuk-card-group">
              <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                <div class="nhsuk-card">
                  <div class="nhsuk-card__content nhsuk-card__content--primary">
                    <h3 class="nhsuk-card__heading nhsuk-heading-m">
                      Claim details
                    </h3>
                    <hr style="margin:0px 0px 12px 0px;">
                    <dl class="nhsuk-summary-list">


                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Total amount
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          2134.75
                        </dd>

                      </div>


                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Date from
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          01 June 2023
                        </dd>

                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Date to
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          02 June 2023
                        </dd>

                      </div>


                    </dl>



                  </div>
                </div>

              </li>
              <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                <div class="nhsuk-card ">
                  <div class="nhsuk-card__content nhsuk-card__content--primary">
                    <h3 class="nhsuk-card__heading nhsuk-heading-m">
                      Entitlement details
                    </h3>
                    <hr style="margin:0px 0px 12px 0px;">
                    <dl class="nhsuk-summary-list">





                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          S1
                        </dd>


                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Issue number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          -
                        </dd>


                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          -
                        </dd>


                      </div>

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          -
                        </dd>


                      </div>


                    </dl>



                  </div>
                </div>

              </li>


            </ul>
          </div>
        </div>
        <!-- End of claim and entitlement details -->






        <!-- Start person details -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <!-- Start card -->
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-card__heading">
                  Person details
                </h3>
                <hr style="margin:0px 0px 12px 0px;">




                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-half">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                        Last name
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-three-quarters" id="accepted" name="accepted" type="text"
                        value="Pearce">
                    </div>

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                        First name
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-three-quarters" id="accepted" name="accepted" type="text"
                        value="Gracie">
                    </div>

                    <div class="nhsuk-form-group">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">


                        <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="dob">
                          Date of birth
                        </label>
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                                name="example-day" type="text" pattern="[0-9]*" inputmode="numeric" value="">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                                name="example-month" type="text" pattern="[0-9]*" inputmode="numeric" value="">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year"
                                name="example-year" type="text" pattern="[0-9]*" inputmode="numeric" value="">
                            </div>
                          </div>
                        </div>
                      </fieldset>

                    </div>


                  </div>
                  <div class="nhsuk-grid-column-one-half">

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                        Last name at birth
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-three-quarters" id="accepted" name="accepted" type="text"
                        value="">
                    </div>

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="contested">
                        National insurance number
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-three-quarters" id="contested" name="contested"
                        type="text" value="QQ 123465 C">
                    </div>


                  </div>
                </div>

                <!-- Start manual search-->
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Advanced search options
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">

                        <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-one-half">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                Post town
                              </label>
                              <input class="nhsuk-input nhsuk-u-width-three-quarters" id="post-town" name="post-town"
                                type="text">
                            </div>

                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                Postcode
                              </label>
                              <input class="nhsuk-input nhsuk-u-width-three-quarters" id="postcode" name="postcode"
                                type="text">
                            </div>

                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" nhsuk-u-margin-bottom-1"
                                for="select-autocomplete">
                                Post country
                              </label>
                              <div>
                                <select name="country" id="select-autocomplete">
                                  <option value=""></option>
                                  <option value="Austria">Austria</option>
                                  <option value="Belgium">Belgium</option>
                                  <option value="Bulgaria">Bulgaria</option>
                                  <option value="Croatia">Croatia</option>
                                  <option value="Cyprus">Cyprus</option>
                                  <option value="Czech Republic">Czech Republic</option>
                                  <option value="Denmark">Denmark</option>
                                  <option value="Estonia">Estonia</option>
                                  <option value="Finland">Finland</option>
                                  <option value="France">France</option>
                                  <option value="Germany">Germany</option>
                                  <option value="Greece">Greece</option>
                                  <option value="Hungary">Hungary</option>
                                  <option value="Iceland">Iceland</option>
                                  <option value="Ireland">Ireland</option>
                                  <option value="Italy">Italy</option>
                                  <option value="Latvia">Latvia</option>
                                  <option value="Liechtenstein">Liechtenstein</option>
                                  <option value="Lithuania">Lithuania</option>
                                  <option value="Luxemburg">Luxemburg</option>
                                  <option value="Malta">Malta</option>
                                  <option value="Netherlands">Netherlands</option>
                                  <option value="Norway">Norway</option>
                                  <option value="Poland">Poland</option>
                                  <option value="Portugal">Portugal</option>
                                  <option value="Romania">Romania</option>
                                  <option value="Slovakia">Slovakia</option>
                                  <option value="Slovenia">Slovenia</option>
                                  <option value="Spain">Spain</option>
                                  <option value="Sweden">Sweden</option>
                                  <option value="Switzerland">Switzerland</option>
                                  <option value="UK">UK</option>
                                </select>
                              </div>
                            </div>

                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="select-autocomplete">
                                Nationality
                              </label>
                              <div>
                                <select name="country" id="select-autocomplete">
                                  <option value=""></option>
                                  <option value="Austria">Austria</option>
                                  <option value="Belgium">Belgium</option>
                                  <option value="Bulgaria">Bulgaria</option>
                                  <option value="Croatia">Croatia</option>
                                  <option value="Cyprus">Cyprus</option>
                                  <option value="Czech Republic">Czech Republic</option>
                                  <option value="Denmark">Denmark</option>
                                  <option value="Estonia">Estonia</option>
                                  <option value="Finland">Finland</option>
                                  <option value="France">France</option>
                                  <option value="Germany">Germany</option>
                                  <option value="Greece">Greece</option>
                                  <option value="Hungary">Hungary</option>
                                  <option value="Iceland">Iceland</option>
                                  <option value="Ireland">Ireland</option>
                                  <option value="Italy">Italy</option>
                                  <option value="Latvia">Latvia</option>
                                  <option value="Liechtenstein">Liechtenstein</option>
                                  <option value="Lithuania">Lithuania</option>
                                  <option value="Luxemburg">Luxemburg</option>
                                  <option value="Malta">Malta</option>
                                  <option value="Netherlands">Netherlands</option>
                                  <option value="Norway">Norway</option>
                                  <option value="Poland">Poland</option>
                                  <option value="Portugal">Portugal</option>
                                  <option value="Romania">Romania</option>
                                  <option value="Slovakia">Slovakia</option>
                                  <option value="Slovenia">Slovenia</option>
                                  <option value="Spain">Spain</option>
                                  <option value="Sweden">Sweden</option>
                                  <option value="Switzerland">Switzerland</option>
                                  <option value="UK">UK</option>
                                </select>
                              </div>
                            </div>

                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                NHS number
                              </label>
                              <input class="nhsuk-input nhsuk-u-width-three-quarters" id="nhs" name="nhs" type="text"
                                value="">
                            </div>

                            <div class="nhsuk-form-group">
                              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">


                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                  Date of birth from
                                </label>
                                <div class="nhsuk-date-input" id="example">
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                        Day
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="example-day" name="example-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                        Month
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="example-month" name="example-month" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                        Year
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                        id="example-year" name="example-year" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                </div>
                              </fieldset>

                            </div>

                            <div class="nhsuk-form-group">
                              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">


                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                  Date of birth to
                                </label>
                                <div class="nhsuk-date-input" id="example">
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                        Day
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="example-day" name="example-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                        Month
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="example-month" name="example-month" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                  <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                      <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                        Year
                                      </label>
                                      <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                        id="example-year" name="example-year" type="text" pattern="[0-9]*"
                                        inputmode="numeric" value="">
                                    </div>
                                  </div>
                                </div>
                              </fieldset>

                            </div>
                          </div>
                          <div class="nhsuk-grid-column-one-half">


                          </div>
                        </div>






                      </div>
                    </details>
                    <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                      Search
                    </button>

                  </div>
                </div>
                <!-- End manual search -->

                <!-- Start of search results -->
                <!-- <div class="nhsuk-grid-row">
                          <div class="nhsuk-grid-column-full">
            
                            <table role="table" class="nhsuk-table-responsive">
                              <caption class="nhsuk-table__caption">Search results</caption>
                              <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                  <th role="columnheader" class="" scope="col">
                                    Person ID
                                  </th>
                                  <th role="columnheader" class="" scope="col">
                                    Last name
                                  </th>
                                  <th role="columnheader" class="" scope="col">
                                    First name
                                  </th>
            
                                  <th role="columnheader" class="" scope="col">
                                    Date of birth
                                  </th>
                                  <th role="columnheader" class="" scope="col">
                                    National insurance
                                  </th>
                                  <th role="columnheader" class="" scope="col">
                                    Actions
                                  </th>
                                </tr>
                              </thead>
                              <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795425
                                  </td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Last name </span>Pearce
                                  </td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">First name</span>Gracie
                                  </td>
            
                                  <td>12/11/1978</td>
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Status </span>QQ 123456 C
                                  </td>
            
                                  <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Actions </span><a href="">View record</a>
                                  </td>
                                </tr>
            
                              </tbody>
                            </table>
            
            
            
                          </div>
                        </div> -->
                <!-- End search results -->

              </div>
            </div>
            <!-- End card -->


          </div>
        </div>
        <!-- End person details-->




      </div>
      <!-- *** End of summary tab *** -->


      <!-- *** Start of notes tab *** -->
      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
        <h2 class="nhsuk-heading-l">Notes</h2>




        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content" style="padding-top:12px;">




                <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-6">
                  <!-- <caption class="nhsuk-table__caption">Notes</caption> -->

                  <thead role="rowgroup" class="nhsuk-table__head">

                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Date
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Author
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Note
                      </th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">



                  </tbody>
                </table>
                <p>There are currently no notes.</p>


              </div>
            </div>
          </div>



        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-card__heading">
                  Add a new note
                </h3>
                <hr style="margin:0px 0px 12px 0px;">


                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Note </label>

                  <textarea class="nhsuk-textarea" id="example" name="example" rows="3"
                    aria-describedby="example-hint"></textarea>
                </div>
                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                  Save note
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- *** End of notes tab *** -->


      <!-- *** Start of history tab *** -->
      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="history">

        <h2 class="nhsuk-heading-l">History</h2>

        <!-- Start of invoice history -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">


            <div class="nhsuk-card">
              <div class="nhsuk-card__content" style="padding-top:12px;">

                <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-6">
                  <!-- <caption class="nhsuk-table__caption">Invoice history</caption> -->
                  <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                      <th role="columnheader" class="" scope="col">
                        Date
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Editor
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Action
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span>01 Sep 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Editor </span>System
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span>Auto validation
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>To check - Unable to identify
                        the person
                        from the information provided. Please check.
                      </td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span>01 Sep 2023
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Editor </span>Isla Fields
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span>Invoice added to claim
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>
                      </td>
                    </tr>


                  </tbody>
                </table>




              </div>
            </div>
          </div>
        </div>
        <!-- End of invoice history -->

      </div>
      <!-- *** End of history tab *** -->


    </div>
  </div>
</div>
<!-- End of tabs-->





</div>
</div>












{% endblock %}
<!-- End of central content -->