<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '',
active: true
},
{
name: 'Invoices',
path: ''
},
{
name: 'Submissions',
path: ''
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Claim summary - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claims</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<style>
    .nhsuk-task-list {
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 24px;
        padding: 0;
        list-style-type: none
    }

    @media (min-width: 40.0625em) {
        .nhsuk-task-list {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.47368
        }
    }

    @media print {
        .nhsuk-task-list {
            font-size: 13pt;
            line-height: 1.25
        }
    }

    @media (min-width: 40.0625em) {
        .nhsuk-task-list {
            margin-bottom: 32px
        }
    }

    .nhsuk-task-list__item {
        display: table;
        position: relative;
        width: 100%;
        margin-bottom: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #d8dde0
    }

    .nhsuk-task-list__item:first-child {
        border-top: 1px solid #d8dde0
    }

    .nhsuk-task-list__item--with-link:hover {
        background: #dee7e9
    }

    .nhsuk-task-list__name-and-hint {
        display: table-cell;
        vertical-align: top;
        color: #212b32
    }

    .nhsuk-task-list__status {
        display: table-cell;
        padding-left: 8px;
        text-align: right;
        vertical-align: top;
        color: #212b32
    }

    .nhsuk-task-list__status--completed,
    .nhsuk-task-list__status--cannot-start-yet {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-top: 6px;
        text-decoration: none
    }

    @media (min-width: 40.0625em) {

        .nhsuk-task-list__status--completed,
        .nhsuk-task-list__status--cannot-start-yet {
            font-size: 16px;
            font-size: 1rem;
            line-height: 1
        }
    }

    @media print {

        .nhsuk-task-list__status--completed,
        .nhsuk-task-list__status--cannot-start-yet {
            font-size: 12pt;
            line-height: 1
        }
    }

    .nhsuk-task-list__status--cannot-start-yet {
        color: #4c6272
    }

    .nhsuk-task-list__link::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    .nhsuk-task-list__hint {
        margin-top: 4px;
        color: #4c6272
    }
</style>

<!-- Start of header -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl ">
            Claim summary
        </h1>
    </div>

</div>
<!-- End of header-->

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">
    <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            Claim ID 6784
                        </h2>
                        <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
                    </div>
                </div>

                <!-- Start of card content-->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <dl class="nhsuk-summary-list">
                            <!-- Country -->
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Country
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    France
                                </dd>

                            </div>
                            <!-- Article type -->
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Type
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    Actual cost - Sickness
                                </dd>
                            </div>
                            <!-- Financial year -->
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Financial year
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    2023
                                </dd>
                            </div>
                            <!-- Period of claim -->
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Period
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    First half year
                                </dd>
                            </div>
                            <!-- Status -->
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    <strong class="nhsuk-tag nhsuk-tag--grey">
                                        Not started
                                    </strong>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
              
            </div>
          </div>
        </li>

        <!-- <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            Task list
                        </h2>
                    </div>


                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <ul class="nhsuk-task-list">
                            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                                <div class="nhsuk-task-list__name-and-hint"><a
                                        class="nhsuk-link nhsuk-task-list__link" href="#"
                                        aria-describedby="your-health-3-hint your-health-3-status">Add
                                        invoices</a>
                                </div>
                                <div class="nhsuk-task-list__status" id="your-health-3-status"><strong
                                        class="nhsuk-tag nhsuk-tag--blue">
                                        Not started
                                    </strong></div>
                            </li>
                            <li class="nhsuk-task-list__item">
                                <div class="nhsuk-task-list__name-and-hint">
                                    <div>Process invoices</div>
                                </div>
                                <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="your-health-5-status">Cannot start yet</div>
                            </li>

                        </ul>
                    </div>
                </div>
              
            </div>
          </div>
        </li> -->

      </ul>
</div>
</div>





<div class="nhsuk-card">
    <div class="nhsuk-card__content">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-card__heading nhsuk-heading-l">
                    Current submission
                </h2>
            </div>
            <div class="nhsuk-grid-column-one-third">
                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="button"
                    style="float:right;">
                    View submission
                </button>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <ul class="nhsuk-grid-row nhsuk-card-group">

                    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">

                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                            Submission summary
                                        </h2>
                                        <hr
                                            class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
                                    </div>
                                </div>



                                <!-- Start of card content-->
                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">

                                            <!-- Type -->
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Type
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    Initial
                                                </dd>
                                                <dd class="nhsuk-summary-list__actions"></dd>
                                            </div>

                                            <!-- Target date -->
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Target date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    19 January 2025
                                                </dd>
                                                <dd class="nhsuk-summary-list__actions"><a href="">
                                                        Change<span class="nhsuk-u-visually-hidden"> target date</span>
                                                    </a></dd>
                                            </div>

                                            <!-- Deadline -->
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Deadline
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    19 January 2026
                                                </dd>
                                                <dd class="nhsuk-summary-list__actions"></dd>
                                            </div>

                                            <!-- Date received-->
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Date received
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    19 July 2024
                                                </dd>
                                                <dd class="nhsuk-summary-list__actions"></dd>
                                            </div>

                                        </dl>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">

                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                            Task list
                                        </h2>
                                    </div>


                                </div>

                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <ul class="nhsuk-task-list">
                                            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                                                <div class="nhsuk-task-list__name-and-hint"><a
                                                        class="nhsuk-link nhsuk-task-list__link" href="#"
                                                        aria-describedby="your-health-3-hint your-health-3-status">Add
                                                        invoices</a>
                                                </div>
                                                <div class="nhsuk-task-list__status" id="your-health-3-status"><strong
                                                        class="nhsuk-tag nhsuk-tag--blue">
                                                        Not started
                                                    </strong></div>
                                            </li>
                                            <li class="nhsuk-task-list__item">
                                                <div class="nhsuk-task-list__name-and-hint">
                                                    <div>Process invoices</div>
                                                </div>
                                                <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="your-health-5-status">Cannot start yet</div>
                                            </li>
                                            <li class="nhsuk-task-list__item">
                                                <div class="nhsuk-task-list__name-and-hint">
                                                    <div>Mark complete</div>
                                                </div>
                                                <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="your-health-5-status">Cannot start yet</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>





    </div>
</div>

<div class="nhsuk-card">
    <div class="nhsuk-card__content">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-card__heading nhsuk-heading-l">
                    Latest submissions
                </h2>


            </div>
            <div class="nhsuk-grid-column-one-third">
                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="button"
                    style="float:right">
                    Add a new submission
                </button>
            </div>
        </div>



        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-4">
                            <caption class="nhsuk-table__caption">The 5 most recent submissions</caption>
                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        ID
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Reference
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Type
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Date received
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Target date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Status
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">

                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission ID
                                        </span>8855
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Submission
                                            reference
                                        </span>11322249AT2301E
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type
                                        </span>Initial
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date received
                                        </span>19 Jul 2024
                                    </td>

                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Total number
                                        </span>19 Jan 2025
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Status
                                        </span>Not started
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">View
                                        </span><a href="">View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="nhsuk-body"><a href="">View all submissions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Contestation ID 7493 &ndash; Contestation reference 12345678
              </h2>
            </div>
            <div class="nhsuk-grid-column-one-third">
              <strong class="nhsuk-tag nhsuk-tag--green" style="float:right">
                Open
              </strong>
            </div>
            <div class="nhsuk-grid-column-full">
              <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
              <br />
            </div>
          </div>
  

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <dl class="nhsuk-summary-list">
        
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Total invoices
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    12
                  </dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
  
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Total amount
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    5,700
                  </dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
      
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Currency
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Euro
                  </dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
    
              </dl>
            </div>
  
            <div class="nhsuk-grid-column-one-half">
              <dl class="nhsuk-summary-list">
           
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Target date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 September 2025
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                      </dd>
                </div>
             
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Deadline
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    20 February 2026
                  </dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
       
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date received
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    21 February 2025
                  </dd>
                  <dd class="nhsuk-summary-list__actions"></dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Task list
              </h2>
            </div>
            
            <div class="nhsuk-grid-column-full">
              <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
              <br />
            </div>
          </div>

          <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <ul class="nhsuk-task-list">

                <li class="nhsuk-task-list__item">
                    <div class="nhsuk-task-list__name-and-hint">
                      <div>Summary letter</div>
                    </div>
                    <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-1-status">Sent</div>
                  </li>
              
                <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                  <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link" href="#" aria-describedby="your-health-3-hint your-health-3-status">Reply</a>
                  </div>
                  <div class="nhsuk-task-list__status" id="your-health-3-status"><strong class="nhsuk-tag nhsuk-tag--blue">
                      To be sent
                    </strong></div>
                </li>
            
              
                <li class="nhsuk-task-list__item">
                  <div class="nhsuk-task-list__name-and-hint">
                    <div>Information on payment</div>
                  </div>
                  <div class="nhsuk-task-list__status nhsuk-task-list__status--cannot-start-yet" id="your-health-5-status">Cannot start yet</div>
                </li>
              
              </ul>
          </div>
          </div>
  
        </div>
      </div>
    </div>
  </div> -->






<!-- End of invoice stats -->



{% endblock %}
<!-- End of central content -->