<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
  {
  name: 'Summary',
  path: '/alpha/version-10/claims/rina/actual-cost/6784-france/summary/active-invoices-uploaded'
  },
  {
  name: 'Invoices',
  path: '/alpha/version-10/claims/rina/actual-cost/6784-france/invoices/full-invoice-list',
  active: true
  },
  {
    name: 'Contestations',
    path: ''
    },
    {
    name: 'Notes',
    path: ''
    },
  {
  name: 'History',
  path: ''
  }
  ]
  %}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Invoices - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../../../../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of title block -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl ">
      Invoices
    </h1>
  </div>
  <div class="nhsuk-grid-column-one-third" style="text-align:right;">
    <a href="upload/options">
      <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
        Add invoices
      </button>
    </a>
  </div>
</div>
<!-- End of title block -->

<!-- Start of search fields -->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">

    <form action="full-invoice-list-search-results#search-results" method="post">

                <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h3 class="nhsuk-card__heading">
            Search for an invoice
          </h3>
        </div>
      </div>

      <hr style="margin:0px 0px 24px 0px;" />

<div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-hint" id="contact-hint">
              Search using one or more fields.
            </div>
          </div>
          </div>

      <!-- Start of search inputs-->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="invoice-id">
              Invoice ID
            </label>
            <input class="nhsuk-input" id="invoice-id" name="invoice-id" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="invoice-ref">
              Invoice reference
            </label>
            <input class="nhsuk-input" id="invoice-ref" name="invoice-ref" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="last-name">
              Last name
            </label>
            <input class="nhsuk-input" id="last-name" name="last-name" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="first-name">
              First name
            </label>
            <input class="nhsuk-input" id="first-name" name="first-name" type="text">
          </div>
        </div>
      </div>
      <!-- End of search fields -->



      <button class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button"
        type="submit">
        Search
      </button>

    </form>
  </div>
</div>
<!-- End of filter results -->

<!-- Start download-->
<div class="nhsuk-grid-row" id="download-results">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-action-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-action-link__link" href="/downloads/invoice-list.xlsx" target="_blank">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Download search results</span>
      </a>
    </div>

  </div>
</div>
<!-- End download -->

<!-- Start invoice listings -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">

        <!-- Start header block-->
        <div class="nhsuk-grid-row nhsuk-u-padding-bottom-3">
          <div class="nhsuk-grid-column-two-thirds">
            <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing 10 results of 354</h3>
            <p class="nhsuk-u-margin-bottom-2"><strong class="nhsuk-tag nhsuk-tag--aqua-green">
                To check
              </strong></p>
          </div>
          <div class="nhsuk-grid-column-one-third">
            <div class="nhsuk-form-group" style="float:right;">
              <label class="nhsuk-label" for="results">
                Results per page
              </label>
              <select class="nhsuk-select" id="results" name="results" style="float:right;">
                <option value="10" selected>10</option>
                <option value="100">100</option>
                <option value="200">200</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End header block -->

              <!-- Start of additional filter and sort options -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <details class="nhsuk-details nhsuk-u-margin-bottom-2">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Filter and sort options
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <div class="nhsuk-grid-row">

                <!-- Start filter by entitlement -->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                          Filter by entitlement
                        </h1>
                      </legend>
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-entitlement-s1" name="filter-entitlement"
                            type="checkbox" value="s1">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-entitlement-s1">
                            S1
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-entitlement-ehic" name="filter-entitlement"
                            type="checkbox" value="ehic">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-entitlement-ehic">
                            EHIC
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-entitlement-prc" name="filter-entitlement"
                            type="checkbox" value="prc">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-entitlement-prc">
                            PRC
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-entitlement-s2" name="filter-entitlement"
                            type="checkbox" value="s2">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-entitlement-s2">
                            S2
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-entitlement-da1" name="filter-entitlement"
                            type="checkbox" value="da1">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-entitlement-da1">
                            DA1
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End filter by entitlement -->

                <!-- Start filter by status-->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                          Filter by status
                        </h1>
                      </legend>
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-tobechecked" name="filter-status"
                            type="checkbox" value="check" checked>
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-tobechecked">
                            To check
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-accepted" name="filter-status"
                            type="checkbox" value="accepted">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-accepted">
                            Accepted
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-contested" name="filter-status"
                            type="checkbox" value="contested">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-contested">
                            Contested
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-partial" name="filter-status"
                            type="checkbox" value="partial">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-partial">
                            Partial
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-withdrawn" name="filter-status"
                            type="checkbox" value="withdrawn">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-withdrawn">
                            Withdrawn
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End filter by status -->

                <!-- Start sort by and sort order -->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group nhsuk-u-padding-bottom-5">
                    <fieldset class="nhsuk-fieldset">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                          Sort by
                        </h1>
                      </legend>
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-id" name="sort-by" type="radio" value="id"
                            checked="checked">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-id">
                            Invoice ID
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-ref" name="sort-by" type="radio" value="ref">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-ref">
                            Invoice reference
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-last-name" name="sort-by" type="radio"
                            value="last-name">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-last-name">
                            Last name
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-first-name" name="sort-by" type="radio"
                            value="first-name">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-first-name">
                            First name
                          </label>
                        </div>
                        
                      </div>
                    </fieldset>
                  </div>
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                          Order results
                        </h1>
                      </legend>
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="order-by-asc" name="order-by" type="radio"
                            value="ascending">
                          <label class="nhsuk-label nhsuk-radios__label" for="order-by-asc">
                            Ascending
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="order-by-desc" name="order-by" type="radio"
                            value="descending" checked="checked">
                          <label class="nhsuk-label nhsuk-radios__label" for="order-by-desc">
                            Descending
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End sort by and sort order -->
                <div class="nhsuk-grid-column-full">
                  <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                    Apply filters
                  </button>
                  <p class="nhsuk-u-margin-bottom-0"><a href="index">Reset all filters</a></p>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
      <!-- End of additional filter and sort options -->

        <!-- Start of table data -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <table role="table" class="nhsuk-table-responsive">
              <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Invoice ID
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Invoice reference
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Last name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    First name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Entitlement
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Status
                  </th>
                  <th role="columnheader" class="" scope="col">
                    View
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001577
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795425
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Jones
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Elizabeth
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>

                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001576
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795424
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Holmes
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Sebastian
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001575
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795423
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Bevan
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Emma
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>PRC
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001574
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795422
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Jones
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Elizabeth
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001573
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795421
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Adams
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Leon
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S2
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001572
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795420
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Fowler
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>James
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001571
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795419
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Cartwright
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Jonathan
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001570
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795418
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Haynes
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Phoebe
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001569
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795417
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>MacFarlane
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Tyler
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001568
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795416
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Last name </span>Graham
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">First name</span>Caitlin
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Entitlement</span>S1
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Status </span>To check
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">View </span><a href="#">View invoice</a>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Start pagination -->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">

                  <div class="nhsuk-pagination__prev">
                    <!-- <a class="nhsuk-link nhsuk-pagination__link" href="#" rel="prev">
                      <svg class="nhsuk-pagination__icon nhsuk-pagination__icon--prev"
                        xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                        viewBox="0 0 15 13">
                        <path
                          d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                        </path>
                      </svg>
                      <span class="nhsuk-pagination__link-title">Previous<span class="nhsuk-visually-hidden">
                          page</span></span></a> -->
                  </div>


                  <ul class="nhsuk-pagination__list">
                    <li class="nhsuk-pagination__item nhsuk-pagination__item--current">
                      <a class="nhsuk-link nhsuk-pagination__link" href="#" aria-label="Page 1">
                        1
                      </a>
                    </li>
                    <li class="nhsuk-pagination__item">
                      <a class="nhsuk-link nhsuk-pagination__link" href="#" aria-label="Page 2">
                        2
                      </a>
                    </li>
                    <li class="nhsuk-pagination__item ">
                      <a class="nhsuk-link nhsuk-pagination__link" href="#" aria-label="Page 3" aria-current="page">
                        3
                      </a>
                    </li>
                    <li class="nhsuk-pagination__item nhsuk-pagination__item--ellipses">&ctdot;</li>
                    <li class="nhsuk-pagination__item">
                      <a class="nhsuk-link nhsuk-pagination__link" href="#" aria-label="Page 9000">
                        36
                      </a>
                    </li>
                  </ul>

                  <div class="nhsuk-pagination__next">
                    <a class="nhsuk-link nhsuk-pagination__link" href="#" rel="next"> <span
                        class="nhsuk-pagination__link-title">Next<span class="nhsuk-visually-hidden">
                          page</span></span>
                      <svg class="nhsuk-pagination__icon nhsuk-pagination__icon--next"
                        xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                        viewBox="0 0 15 13">
                        <path
                          d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                      </svg></a>
                  </div>

                </nav>
              </div>
            </div>
            <!-- End pagination -->

          </div>
        </div>
        <!-- End of table data -->

      </div>
    </div>
  </div>
</div>
<!-- End of invoice listings -->
{% endblock %}
<!-- End of central content -->