<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
        name: 'Home',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/home'
    },
    {
        name: 'Search',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/search'
    },
    {
        name: 'Claims',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/index',
        active: true
    },
    {
        name: 'Contested claims',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/contested-claims'
    },
    {
        name: 'Reports',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/reports'
    }
]
%}
<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Which country sent the claim? - Manage member state claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Start of back link -->
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>
        <!-- End of back link -->

        <!-- Start of form -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <form action="reference" method="post">
                    <div class="nhsuk-form-group">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                                <h1 class="nhsuk-fieldset__heading">
                                    <span class="nhsuk-caption-l">Create a new claim</span>
                                    Which country sent the claim?
                                </h1>
                            </legend>

                            <div class="nhsuk-hint" id="country-hint">
                                For example, France
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-one-third" id="country" name="country" type="text">
                        </fieldset>
                    </div>
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </form>

                <a href="/alpha/version-01/claims/screen-per-question/with-navigation/index" class="nhsuk-link">Cancel</a>
            </div>
        </div>
        <!-- End of form -->

    </div>
</div>
{% endblock %}
<!-- End of central content -->