<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Reply to contestation details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6799</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>
    </div>
</div>
<!-- End back link -->

<!-- Start of title block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">Claim ID 6799 &ndash; Spain</span>
            Reply to contestation details
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-third" style="text-align: right">
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="button">
            Exit reply to contestation
        </button>
    </div>
</div>
<!-- End of title block -->

<!-- Start header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-one-half">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                    Reply to contestation ID 8442
                                </h2>
                            </div>
                            <div class="nhsuk-grid-column-one-half">
                                <strong class="nhsuk-tag nhsuk-tag--orange" style="float:right;">On hold</strong>
                            </div>
                        </div>
                        <hr
                            class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible nhsuk-u-margin-bottom-3">
                        <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Reply to contestation reference</dt>
                                <dd class="nhsuk-summary-list__value">11661234MM1904</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Target date</dt>
                                <dd class="nhsuk-summary-list__value">
                                    1 September 2025
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Deadline</dt>
                                <dd class="nhsuk-summary-list__value">1 April 2026</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Date received</dt>
                                <dd class="nhsuk-summary-list__value">
                                    6 March 2025
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                            Task list
                        </h2>
                        <ul class="nhsuk-task-list">
                            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                                <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link"
                                        href="#" aria-describedby="your-health-3-hint your-health-3-status">Manage invoices</a>
                                </div>
                                <div class="nhsuk-task-list__status" id="your-health-3-status"><strong
                                        class="nhsuk-tag nhsuk-tag--blue">
                                        In progress
                                    </strong></div>
                            </li>
                            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                                <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link"
                                        href="" aria-describedby="your-health-3-hint your-health-3-status">Mark invoice selection complete</a>

                                </div>
                                <div class="nhsuk-task-list__status" id="your-health-3-status"><strong
                                        class="nhsuk-tag nhsuk-tag--blue">
                                        To do
                                    </strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- End header block -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">Contents</h2>

            <!-- Start of tab titles -->
            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#summary"> Summary </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#invoices"> Invoices </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#snapshot"> Snapshot </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#history"> History </a>
                </li>
            </ul>
            <!-- End of tab titles -->

            <!-- *** Start of summary tab *** -->
            <div class="nhsuk-tabs__panel" id="summary">
                <!-- Start of header block -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Summary</h2>
                    </div>
                </div>
            </div>
            <!-- *** End of summary tab *** -->

            <!-- *** Start of invoices tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="invoices">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-third">
                        <h2 class="nhsuk-heading-l">Invoices</h2>
                    </div>
                    <div class="nhsuk-grid-column-two-thirds" style="text-align:right;">
                      <a href="01-invoice-details" class="nhsuk-button nhsuk-button--secondary" role="button" data-module="nhsuk-button">Add unmatched invoices</a>
                        <a href="" class="nhsuk-button" role="button" data-module="nhsuk-button">Select more invoices</a>
                        </div>
                </div>

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">
    <div class="nhsuk-hint" id="hint">
    You can add more invoices to the selected invoices list using the select more invoices button or if all the invoices have been selected you can mark invoice selection complete in the task list.
    </div>
</div>
</div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                      <ul class="nhsuk-grid-row nhsuk-card-group">
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                          <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                              <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">4 <span class="nhsuk-u-visually-hidden">Total invoices</span></p>Total invoices
                            </div>
                          </div>
                        </li>
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                          <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                              <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">22 <span class="nhsuk-u-visually-hidden">Total amount (months)</span></p>Total amount (months)
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    </div>
                    
                    
                    
                           
                    
                    
                    
                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-full">
                              
                                  <div class="nhsuk-card">
                                    <div class="nhsuk-card__content ">
                              
                <!-- Start header block-->
                <div class="nhsuk-grid-row nhsuk-u-padding-bottom-0">
                  <div class="nhsuk-grid-column-two-thirds">
                    <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing 1 to 4 of 4 selected invoices</h3>
                  </div>
                  <div class="nhsuk-grid-column-one-third">
                    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0" style="float:right;">
                      <label class="nhsuk-label" for="results">
                        Results per page
                      </label>
                      <select class="nhsuk-select" id="results" name="results" style="float:right;">
                        <option value="10" selected="">10</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- End header block -->

                <!-- Start of filter and sort options -->
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-full">
                    <details class="nhsuk-details nhsuk-u-margin-bottom-5">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Sort options
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                        <div class="nhsuk-grid-row">


                          <!-- Start sort by -->
                          <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group nhsuk-u-padding-bottom-5">
                              <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                  <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                    Sort by
                                  </h1>
                                </legend>
                                <div class="nhsuk-radios">
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="sort-by-id" name="sort-by" type="radio"
                                      value="id" checked="checked">
                                    <label class="nhsuk-label nhsuk-radios__label" for="sort-by-id">
                                      Invoice ID
                                    </label>
                                  </div>
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="sort-by-ref" name="sort-by" type="radio"
                                      value="ref">
                                    <label class="nhsuk-label nhsuk-radios__label" for="sort-by-ref">
                                      Invoice reference
                                    </label>
                                  </div>
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="sort-by-last-name" name="sort-by"
                                      type="radio" value="last-name">
                                    <label class="nhsuk-label nhsuk-radios__label" for="sort-by-last-name">
                                      Last name
                                    </label>
                                  </div>
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="sort-by-first-name" name="sort-by"
                                      type="radio" value="first-name">
                                    <label class="nhsuk-label nhsuk-radios__label" for="sort-by-first-name">
                                      First name
                                    </label>
                                  </div>

                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <!-- End sort by -->

                          <!-- Start sort order -->
                          <div class="nhsuk-grid-column-one-quarter">
                            <div class="nhsuk-form-group">
                              <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                  <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                    Order results
                                  </h1>
                                </legend>
                                <div class="nhsuk-radios">
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="order-by-asc" name="order-by" type="radio"
                                      value="ascending">
                                    <label class="nhsuk-label nhsuk-radios__label" for="order-by-asc">
                                      Ascending
                                    </label>
                                  </div>
                                  <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="order-by-desc" name="order-by" type="radio"
                                      value="descending" checked="checked">
                                    <label class="nhsuk-label nhsuk-radios__label" for="order-by-desc">
                                      Descending
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <!-- End sort order -->
                          <div class="nhsuk-grid-column-full">
                            <a href="">
                              <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button"
                                type="submit">
                                Apply filters
                              </button>
                            </a>
                            <p class="nhsuk-u-margin-bottom-0"><a href="">Reset all filters</a></p>
                          </div>
                        </div>
                      </div>
                    </details>
                  </div>
                </div>
                <!-- End of filter and sort options -->
                              
                              
                                      <!-- Start of table data -->
                                      <div class="nhsuk-grid-row">
                                        <div class="nhsuk-grid-column-full">
                              
                                          <table role="table" class="nhsuk-table-responsive">
                                            <caption class="nhsuk-table__caption">List of selected invoices</caption>  
                                            <thead role="rowgroup" class="nhsuk-table__head">
                                              <tr role="row">
                                                <th role="columnheader" class="" scope="col">
                                                  Invoice ID
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  Invoice reference
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  Last name
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  First name
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  Amount
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  Status
                                                </th>
                                                <th role="columnheader" class="" scope="col">
                                                  Action
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody class="nhsuk-table__body">
                                              <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001887
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice reference </span>0048785410
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Last name </span>Fernandez
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">First name</span>Ellena
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Amount</span>3
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove invoice</a></span>
                                                </td>
                                              </tr>
                                              <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001577
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795425
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Last name </span>Jones
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">First name</span>Elizabeth
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Amount</span>3
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove invoice</a></span>
                                                </td>
                                              </tr>
                                              <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001575
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795423
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Last name </span>Bevan
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">First name</span>Emma
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Amount</span>4
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove invoice</a></span>
                                                </td>
                                              </tr>
                                              <tr role="row" class="nhsuk-table__row">
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001572
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Invoice reference </span>0039795420
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Last name </span>Fowler
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">First name</span>James
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Amount</span>12
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                                </td>
                                                <td role="cell" class="nhsuk-table__cell">
                                                  <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove invoice</a></span>
                                                </td>
                                              </tr>
                    
                    
                                            </tbody>
                                          </table>
                    
                              
                                        </div>
                                      </div>
                                      <!-- End of table data -->
                              
                                    </div>
                                  </div>
                                </div>
                              </div>


            </div>
            <!-- *** End of invoices tab *** -->

            <!-- *** Start of snapshot tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="snapshot">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Snapshot</h2>
                    </div>
                </div>
            </div>
            <!-- *** End of snapshot tab *** -->

            <!-- *** Start of history tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="history">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">History</h2>
                    </div>
                </div>

            </div>
            <!-- *** End of history tab *** -->
        </div>
    </div>
</div>
<!-- End of tabs-->

{% endblock %}