<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Home',
path: '/alpha/version-01/claims/screen-all-questions/with-navigation/home'
},
{
name: 'Search',
path: '/alpha/version-01/claims/screen-all-questions/with-navigation/search'
},
{
name: 'Claims',
path: '/alpha/version-01/claims/screen-all-questions/with-navigation/index',
active: true
},
{
name: 'Contested claims',
path: '/alpha/version-01/claims/screen-all-questions/with-navigation/contested-claims'
},
{
name: 'Reports',
path: '/alpha/version-01/claims/screen-all-questions/with-navigation/reports'
}
]
%}

<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Create a new claim - Manage member state claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="#">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                claims </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <form action="cya" method="post">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    <span class="nhsuk-caption-l">Create a new claim</span>
                    Claim details
                </h1>
            </legend>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">

                <!-- Date you received the claim -->
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                                Date you received the claim
                            </h1>
                        </legend>
                        <div class="nhsuk-hint" id="submission-date-hint">
                            The date the business received the claim. For example, 15 7 2023.
                        </div>
                        <div class="nhsuk-date-input" id="submission-date">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="submission-date-day">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="submission-date-day" name="submission-date-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="submission-date-month">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="submission-date-month" name="submission-date-month" type="text"
                                        pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="submission-date-year">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                        id="submission-date-year" name="submission-date-year" type="text"
                                        pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Country submitting the claim -->
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="country">
                        Country submitting the claim
                    </label>
                    <div class="nhsuk-hint" id="country-hint">
                        For example, France.
                    </div>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="country" name="country" type="text">
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Claim reference -->
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="ref">
                        Claim reference
                    </label>
                    <div class="nhsuk-hint" id="ref-hint">
                        The reference given by the member state. For example, 33778844AA890E.
                    </div>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="ref" name="ref" type="text">
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Financial year of claim -->
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label--s nhsuk-u-margin-bottom-0" for="financial-year">
                        Financial year of claim
                    </label>
                    <div class="nhsuk-hint" id="article-hint">
                        For example, 2023.
                    </div>
                    <input class="nhsuk-input nhsuk-input--width-4" id="financial-year" name="financial-year"
                        type="text">
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Article covering the claim -->
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                                Article covering the claim
                            </h1>
                        </legend>

                        <div class="nhsuk-hint" id="article-hint">
                            Select one.
                        </div>
                        <div class="nhsuk-radios">

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="article-actual" name="article" type="radio"
                                    value="Actual cost">
                                <label class="nhsuk-label nhsuk-radios__label" for="article-actual">
                                    Actual cost
                                </label>
                            </div>

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="article-average-2a" name="article"
                                    type="radio" value="Article 63 (2a) - average cost">
                                <label class="nhsuk-label nhsuk-radios__label" for="article-average-2a">
                                    Article 63 (2a) - average cost
                                </label>
                            </div>

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="article-average-2b" name="article"
                                    type="radio" value="Article 63 (2b) - average cost">
                                <label class="nhsuk-label nhsuk-radios__label" for="article-average-2b">
                                    Article 63 (2b) - average cost
                                </label>
                            </div>

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="article-average-2b" name="article"
                                    type="radio" value="AW03 - DA1 claims">
                                <label class="nhsuk-label nhsuk-radios__label" for="article-average-2b">
                                    AW03 - DA1 claims
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Type of claim -->
                <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="type-hint">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                                Type of claim
                            </h1>
                        </legend>

                        <div class="nhsuk-hint" id="type-hint">
                            Select one option.
                        </div>

                        <div class="nhsuk-radios nhsuk-radios--conditional">

                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="type-main" name="type" type="radio"
                                    value="Main">
                                <label class="nhsuk-label nhsuk-radios__label" for="type-main">
                                    Main
                                </label>
                            </div>
        
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="type-Supplementary" name="type" type="radio"
                                    value="Supplementary" aria-controls="conditional-type-Supplementary"
                                    aria-expanded="false">
                                <label class="nhsuk-label nhsuk-radios__label" for="type-Supplementary">
                                    Supplementary
                                </label>
                            </div>
        
                            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"
                                id="conditional-type-Supplementary">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="subref">
                                        Claim sub-reference (optional)
                                    </label>
                                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="subref" name="subref" type="text">
                                </div>
                            </div>
        
                        </div>
                    </fieldset>

                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

                <!-- Target date to complete claim -->
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        <legend class="nhsuk-fieldset__legend nhsuk-label--s nhsuk-u-margin-bottom-1">
                            <h1 class="nhsuk-fieldset__heading">
                                Target date to complete claim
                            </h1>
                        </legend>
                        <div class="nhsuk-hint" id="target-date-hint">
                            Usually 6 months after the claim was submitted by the member state. For example, 15 7 2023.
                        </div>
                        <div class="nhsuk-date-input" id="target-date">
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="target-date-day">
                                        Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="target-date-day" name="target-date-day" type="text" pattern="[0-9]*"
                                        inputmode="numeric">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="target-date-month">
                                        Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                        id="target-date-month" name="target-date-month" type="text" pattern="[0-9]*"
                                        inputmode="numeric">
                                </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="target-date-year">
                                        Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                        id="target-date-year" name="target-date-year" type="text" pattern="[0-9]*"
                                        inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                    Continue
                </button>
                </form>

            </div>
        </div>


        <a href="#" class="nhsuk-link">Cancel</a>
    </div>
</div>
<!-- End of main content -->

</div>
</div>
{% endblock %}
<!-- End of central content -->