<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/summary/active-invoices-uploaded'
},
{
name: 'Invoices',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/invoices/full-invoice-list',
active: true
},
{
name: 'Submissions',
path: ''
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../index">Claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../summary/active-invoices-uploaded">Claim ID 6784</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/full-invoice-list">Invoices</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/details/20001554/01-to-check">Invoice ID 20001554</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Checking entitlement
        </h1>
    </div>
</div>

<!-- Start spinning wheel-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div id="upload-progress" class="nhsuk-grid-column-full" aria-hidden="true" tabindex="-1">
            <div class="nhsuk-loader">
                <p>Automated validation in progress.<br />
                    Do not leave this page or close your browser.</p>
                <span class="nhsuk-loader__spinner nhsuk-u-margin-bottom-3"></span>
            </div>
        </div>
    </div>
</div>
<!-- End of spinning wheel -->



<script>
    setTimeout(function () {
        window.location.href = "./06-confirmation-accepted";
    }, 5000);
</script>



{% endblock %}
<!-- End of central content -->