<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/summary/active-invoices-uploaded',
active: true
},
{
name: 'Invoices',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/invoices/full-invoice-list'
},
{
name: 'Submissions',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/submissions/02-active'
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Claim summary - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../../../../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of header -->
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl ">
      Claim summary
    </h1>
  </div>

</div>
<!-- End of header-->

<!-- Start of main summary box -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">
        <!--Start of card header-->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              Claim ID 6784 &ndash; Claim reference {% if data['ref'] %}{{ data['ref'] }}{% else %}11322249AT2301E{%
              endif
              %}
            </h2>
          </div>
          <div class="nhsuk-grid-column-one-third">
            <strong class="nhsuk-tag nhsuk-tag--purple" style="float:right">
              Active
            </strong>
          </div>
          <div class="nhsuk-grid-column-full">
            <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
            <br />
          </div>
        </div>

        <!-- Start of card content-->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list">
              <!-- Country -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Country
                </dt>
                <dd class="nhsuk-summary-list__value">
                  France
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <!-- Period of claim -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Period
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['period'] %}
                  {{ data['period'] }}
                  {% else %}
                  First half year
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <!-- Financial year -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Financial year
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['financial-year'] %}
                  {{ data['financial-year'] }}
                  {% else %}
                  2023
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <!-- Article type -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Type
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['claim-type'] %}
                  {{ data['claim-type'] }} {% if data['claim-type'] === 'Average cost - Sickness' %}- {{
                  data['article-type'] }}{% endif %}
                  {% else %}
                  Actual cost - Sickness
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>
          </div>

          <div class="nhsuk-grid-column-one-half">
            <dl class="nhsuk-summary-list">
              <!-- Target date -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Target date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['target-date-day'] %}{{ data['target-date-day'] }}/{% else %}19 {%
                  endif %}{% if data['target-date-month'] %}{{ data['target-date-month'] }}/{%
                  else %}January {% endif %}{% if data['target-date-year'] %}{{
                  data['target-date-year'] }}{% else %}2025{% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions"><a href="edit-target-date">
                    Change<span class="nhsuk-u-visually-hidden"> target date</span>
                  </a></dd>
              </div>
              <!-- Deadline -->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Deadline
                </dt>
                <dd class="nhsuk-summary-list__value">
                  19 January 2026
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
              <!-- Date received-->
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date received
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['submission-date-day'] %}{{ data['submission-date-day'] }} {%
                  else
                  %}19 {% endif %}{% if data['submission-date-month'] %}{{ fullSubmissionMonth
                  }} {% else %}July {% endif %}{% if
                  data['submission-date-year'] %}{{ data['submission-date-year'] }}{% else
                  %}2024{% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of main summary box -->


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h3 class="nhsuk-card__heading">
              Number of invoices
            </h3>
            <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
          </div>
        </div>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total
            </dt>
            <dd class="nhsuk-summary-list__value">
              92,412
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="../invoices/full-invoice-list#download-results">
                View<span class="nhsuk-u-visually-hidden"> all invoices</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              To check
            </dt>
            <dd class="nhsuk-summary-list__value">
              103
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="../invoices/invoice-list-to-check#download-results">
                View<span class="nhsuk-u-visually-hidden"> to check invoices</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Accepted
            </dt>
            <dd class="nhsuk-summary-list__value">
              92,309
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="../invoices/invoice-list-accepted#download-results">
                View<span class="nhsuk-u-visually-hidden"> accepted invoices</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contested
            </dt>
            <dd class="nhsuk-summary-list__value">
              0
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="../invoices/invoice-list-contested#download-results">
                View<span class="nhsuk-u-visually-hidden"> contested invoices</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Withdrawn
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>0</p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="../invoices/invoice-list-withdrawn#download-results">
                View<span class="nhsuk-u-visually-hidden"> withdrawn invoices</span>
              </a>
            </dd>
          </div>

        </dl>
      </div>
    </div>

  </div>

  <div class="nhsuk-grid-column-one-half">


    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <h3 class="nhsuk-card__heading">
              Claim amount (cost)
            </h3>
            <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
          </div>
        </div>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Total
            </dt>
            <dd class="nhsuk-summary-list__value">
              33,000,000
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              To check
            </dt>
            <dd class="nhsuk-summary-list__value">
              12,000.38
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Accepted
            </dt>
            <dd class="nhsuk-summary-list__value">
              32,987,999.62
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contested
            </dt>
            <dd class="nhsuk-summary-list__value">
              0
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Withdrawn
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>0</p>
            </dd>
          </div>

        </dl>

      </div>
    </div>

  </div>

</div>
<!-- Start of amount stats -->



<!-- End of invoice stats -->



{% endblock %}
<!-- End of central content -->