{% extends 'layout-full-width.html' %}

{% block pageTitle %}
    Managing Member State claims
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb({
    items: [
        {
        href: "/level-one",
        text: "Level one"
        },
        {
        href: "/level-one/level-two",
        text: "Level two"
        }
    ],
    href: "/level-one/level-two/level-three",
    text: "Level three"
    }) }}
{% endblock %}


{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1 class="nhsuk-heading-xl">Page title</h1>
        </div>
    </div>
{% endblock %}
