<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

  <!-- Extends the layout from /views/layout-full-width-claim.html -->
  {% extends 'layout-full-width-invoice-poc.html' %}
  <!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->
  
  <!-- Start of page title -->
  {% block pageTitle %}
File upload confirmation - Manage incoming international healthcare claims - NHSBSA
  {% endblock %}
  <!-- End of page title -->
  
  {% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Initial submission ID 6784</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
  {% endblock %}
  
  {% block content %}


    <!-- Start of panel -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-panel" style="background-color: #005EB8; text-align: center;">
            <h1 class="nhsuk-panel__title">
                File uploaded for France
            </h1>
            <h2 class="nhsuk-heading-l">Invoices added to claim ID 6784</h2>
          </div>
    </div>
    </div>
    <!-- End of panel -->

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-body">You have successfully uploaded a file of invoices to this claim.</p>
    </div>
    </div>

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l">What happens next</h2>
        <p class="nhsuk-body">The system will now try to match each invoice against a valid entitlement.</p>
        <p class="nhsuk-body">Once the system has finished, you can check any that it could not match.</p>
    </div>
    </div>

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <a href="05-active" class="nhsuk-button" role="button" data-module="nhsuk-button">Manage invoices</a>
    </div>
    </div>

  <!-- End main content -->
  
  {% endblock %}