<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
    name: 'Summary',
    path: '/alpha/version-01/claims/hybrid/without-navigation/summary/no-treatments',
    active: true
    },
    {
    name: 'Treatment forms',
    path: '/alpha/version-01/claims/hybrid/without-navigation/treatment-forms/no-treatments'
    },
    {
    name: 'Documents',
    path: ''
    },
    {
    name: 'Case history',
    path: '#'
    }
    ]
    %}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Claim summary - Manage member state claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Claims</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="#">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-heading-xl ">
                    Summary
                </h1>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <!--Start of card header-->
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-one-half">
                                <h3 class="nhsuk-card__heading">
                                    Claim ID: 6784
                                </h3>
                            </div>
                            <div class="nhsuk-grid-column-one-half">
                                <strong class="nhsuk-tag nhsuk-tag--aqua-green" style="float:right">
                                    Active
                                </strong>
                            </div>
                            <div class="nhsuk-grid-column-full">
                                <hr class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible">
                                <br />
                            </div>
                        </div>

                        <!-- Start of card content-->
                        <div class="nhsuk-grid-row">

                            <div class="nhsuk-grid-column-one-half">
                                <dl class="nhsuk-summary-list">

                                    <!-- Assigned to-->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Assigned to
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>


                                    <!-- Received date-->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Received date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['submission-date-day'] %}{{ data['submission-date-day'] }}/{%
                                            else %}10/{% endif %}{% if data['submission-date-month'] %}{{
                                            data['submission-date-month'] }}/{% else %}8/{% endif %}{% if
                                            data['submission-date-year'] %}{{ data['submission-date-year'] }}{% else
                                            %}2023{% endif %}
                                        </dd>
                                    </div>

                                    <!-- Country -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Country
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['country'] %}
                                            {{ data['country'] }}
                                            {% else %}
                                            France
                                            {% endif %}
                                        </dd>
                                    </div>

                                    <!-- Reference -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['ref'] %}
                                            {{ data['ref'] }}
                                            {% else %}
                                            12345REF
                                            {% endif %}
                                        </dd>
                                    </div>

                                    <!-- Financial year -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Financial year
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['financial-year'] %}
                                            {{ data['financial-year'] }}
                                            {% else %}
                                            2023
                                            {% endif %}
                                        </dd>
                                    </div>
                                </dl>
                            </div>

                            <div class="nhsuk-grid-column-one-half">
                                <dl class="nhsuk-summary-list">

                                    <!-- Article type -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Article type
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['article-type'] %}
                                            {{ data['article'] }}
                                            {% else %}
                                            Actual cost
                                            {% endif %}
                                        </dd>
                                    </div>

                                    <!-- Claim type -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Claim type
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['type'] %}
                                            {{ data['type'] }}
                                            {% else %}
                                            Main
                                            {% endif %}
                                        </dd>
                                    </div>

                                    <!-- Sub reference -->
                                    {% if data['type'] %}
                                    {% if data['type'] === 'Supplemental - second half year' %}
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Sub-reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['subref'] %}
                                            {{ data['subref'] }}
                                            {% else %}
                                            -
                                            {% endif %}
                                        </dd>
                                    </div>
                                    {% endif %}
                                    {% endif %}

                                    <!-- Target date -->
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Target date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['target-date-day'] %}{{ data['target-date-day'] }}/{% else %}9/{%
                                            endif %}{% if data['target-date-month'] %}{{ data['target-date-month'] }}/{%
                                            else %}2/{% endif %}{% if data['target-date-year'] %}{{
                                            data['target-date-year'] }}{% else %}2024{% endif %}
                                        </dd>

                                    </div>


                                </dl>
                            </div>
                        </div>





                    </div>
                </div>

            </div>
        </div>
        <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

<!-- Treatments -->
        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-heading-l">Total treatments: 50</h2>


            </div>
            <div class="nhsuk-grid-column-one-thirds" style="float: right; padding-right:16px;">
                <a href="../treatment-forms/upload/with-hint-text">
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                    Add treatments
                </button>
                </a>
            </div>
        </div>


        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-full">
                <ul class="nhsuk-grid-row nhsuk-card-group">
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">0
                                    <span class="nhsuk-u-visually-hidden">Withdrawn</span>
                                </p><a href="../treatment-forms/withdrawn"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Withdrawn</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">45
                                    <span class="nhsuk-u-visually-hidden">Accepted</span>
                                </p><a href="../treatment-forms/accepted"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Accepted</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">0
                                    <span class="nhsuk-u-visually-hidden">Contested</span>
                                </p><a href="../treatment-forms/contested"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Contested</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">5
                                    <span class="nhsuk-u-visually-hidden">To be checked</span>
                                </p><a href="../treatment-forms/to-be-checked"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">To
                                    be checked</a>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
        </div>

        <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-full">
                <h2 class="nhsuk-heading-l">Total amount: £4927.18</h2>


                <ul class="nhsuk-grid-row nhsuk-card-group">
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£0
                                    <span class="nhsuk-u-visually-hidden">Withdrawn</span>
                                </p><a href="#"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Withdrawn</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£4725.51
                                    <span class="nhsuk-u-visually-hidden">Accepted</span>
                                </p><a href="#"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Accepted</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£0
                                    <span class="nhsuk-u-visually-hidden">Contested</span>
                                </p><a href="#"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Contested</a>
                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£201.67
                                    <span class="nhsuk-u-visually-hidden">To be checked</span>
                                </p><a href="#"
                                    class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">To be checked</a>
                            </div>
                        </div>

                    </li>

                </ul>

            </div>
        </div>

    </div>
</div>
{% endblock %}
<!-- End of central content -->