
// Updated component in design system - May 2025

.nhsuk-button--secondary, .nhsuk-button--secondary:link, .nhsuk-button--secondary:visited, .nhsuk-button--secondary:active, .nhsuk-button--secondary:hover, .nhsuk-button--secondary-solid, .nhsuk-button--secondary-solid:link, .nhsuk-button--secondary-solid:visited, .nhsuk-button--secondary-solid:active, .nhsuk-button--secondary-solid:hover {
    color:#005eb8 !important;
    border-radius:4px !important;
}

.nhsuk-button--secondary:hover, .nhsuk-button--secondary-solid:hover {
    background-color:rgb(216.75, 230.85, 244.35) !important;
}

.nhsuk-button--secondary:active, .nhsuk-button--secondary-solid:active {
    background-color: rgb(198.9, 219.58, 239.38) !important;
    border-color:#005eb8 !important;
}

.nhsuk-button--secondary:not(:focus):not(:active)::before, .nhsuk-button--secondary-solid:not(:focus):not(:active)::before {
    border-color:#005eb8 !important;
}

.nhsuk-button--secondary:not(:focus):not(:active)::after, .nhsuk-button--secondary-solid:not(:focus):not(:active)::after {
    left: 0 !important;
    right: 0 !important;
    box-shadow: 0 4px 0 #005eb8 !important;

}

.nhsuk-button--secondary {
    background-color:rgba(0, 0, 0, 0) !important;
    left: 0 !important;
    right: 0 !important;
    box-shadow: 0 4px 0 #005eb8 !important;

    border-color:#005eb8 !important;
}

.nhsuk-button--secondary-solid {
    background-color:#fff !important;
}


