.nhsuk-card--secondary {
    background: rgba(0, 0, 0, 0);
    border-bottom: 4px solid #d8dde0;
    border-left: 0;
    border-right: 0;
    border-top: 0
}

.nhsuk-card__content--secondary {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}