.nhsuk-card--secondary {
    background: rgba(0, 0, 0, 0) !important;
    border-bottom: 4px solid #d8dde0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important
}

.nhsuk-card__content--secondary {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important
}