<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->


<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-signed-in.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Overseas Healthcare Services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item">FA Claims</li>
                    <li class="nhsuk-breadcrumb__item">Claim ID 78457 (Summary)</li>
                </ol>
            </div>
        </div>

        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search
                results</a></p>

    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<style>
    /* ==========================================================================
     SECONDARY NAV
    ========================================================================== */
    .nhsuk-secondary-navigation {
        background-color: #ffffff;
        padding-bottom: 30px;
    }

    .nhsuk-secondary-navigation__container {
        text-align: justify;
        margin: 0 30px;
    }

    .nhsuk-secondary-navigation__nav {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }

    .nhsuk-secondary-navigation__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nhsuk-secondary-navigation__item {
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        display: inline-block;
        margin-right: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (min-width: 40.0625em) {
        .nhsuk-secondary-navigation__item {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.47368;
        }
    }

    @media print {
        .nhsuk-secondary-navigation__item {
            font-size: 14pt;
            line-height: 1.15;
        }
    }

    .nhsuk-secondary-navigation__item:last-child {
        margin-right: 0;
    }

    .nhsuk-secondary-navigation__link {
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
        text-decoration: none;
        font-weight: bold;
    }

    .nhsuk-secondary-navigation__link:link,
    .nhsuk-secondary-navigation__link:visited {
        color: #005eb8;
    }

    .nhsuk-secondary-navigation__link:focus {
        color: black;
        position: relative;
        z-index: 1;
        box-shadow: none;
    }

    .nhsuk-secondary-navigation__link[aria-current] {
        color: #005eb8;
        position: relative;
        text-decoration: none;
        font-weight: bold;
    }

    .nhsuk-secondary-navigation__link[aria-current]:before {
        background-color: #005eb8;
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .nhsuk-secondary-navigation__link[aria-current]:focus {
        color: black;
        position: relative;
        border: none;
    }

    .nhsuk-secondary-navigation__link[aria-current]:focus:before {
        background-color: black;
    }


    /* ==========================================================================
     LEFT NAV
    ========================================================================== */

    .nhsBSA-sidebar-container {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 99px);
        margin: 0;
        padding: 0;
    }

    @media (min-width: 48.0525em) {
        .nhsBSA-sidebar-container {
            min-height: calc(100vh - 80px);
        }
    }

    .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper {
        flex: 1 0 auto;
        display: flex;
    }

    .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
        flex: 1;
        background-color: #f0f4f5;
        padding: 0px;
        margin: 0px;
    }

    .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content .nhsuk-main-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }

    @media (min-width: 40.0625em) {
        .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content .nhsuk-main-wrapper {
            padding-top: 32px;
        }
    }

    @media (min-width: 40.0625em) {
        .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content .nhsuk-main-wrapper {
            padding-bottom: 32px;
        }
    }

    .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-nav {
        width: 300px;
        order: -1;
        background-color: #d8dde0;
        margin: 0;
    }

    .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-nav .nhsuk-back-link {
        padding: 16px;
        margin: 0;
    }

    @media (min-width: 48.0525em) {
        .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-nav .nhsuk-back-link {
            padding: 32px;
            margin: 0;
        }
    }

    @media (max-width: 48.0525em) {
        .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper {
            flex-direction: column;
        }

        .nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-nav {
            width: 100%;
        }
    }

    .side-nav h1 {
        padding: 16px;
        margin: 0;
    }

    @media (min-width: 48.0525em) {
        .side-nav h1 {
            padding: 32px;
        }
    }

    .side-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
    }

    .side-nav li {
        margin: 0px;
    }

    .side-nav li a {
        display: block;
        color: #005EB8;
        font-size: 18px;
        text-decoration: none;
        border-top: #ccc 1px solid;
        border-bottom: #ccc 1px solid;
        padding: 16px;
    }

    @media (min-width: 48.0525em) {
        .side-nav li a {
            padding: 16px 32px;
        }
    }

    .side-nav li a.active {
        background-color: #005EB8;
        color: white;
        font-weight: 600;
        border-top: #005EB8 1px solid;
        border-bottom: #005EB8 1px solid;
    }

    .side-nav li a:hover:not(.active) {
        background-color: #005EB8;
        color: white;
    }

    .side-nav .action-buttons {
        padding: 16px;
    }

    @media (min-width: 48.0525em) {
        .side-nav .action-buttons {
            padding: 32px;
        }
    }

    /* ==========================================================================
     RANDOM BITS AND BOBS
    ========================================================================== */

    .nhsuk-caption-s {
        display: block;
        color: #4c6272;
        font-weight: 400;
        font-size: 18px;
    }
</style>

<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">

        <!-- start of central content -->
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">
                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">

                            <!-- Change the page title here -->
                            <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">
                                FA Claims

                            </h1>
                            <hr style="border-bottom:3px solid #005eb8; margin:0 0 24px 0; padding:0;">



                            <!-- Add your content here -->
                            <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->




                            <div class="nhsuk-grid-row">
                                <div class="nhsuk-grid-column-full">

                  


                                    <nav class="nhsuk-secondary-navigation nav-tabs-bg" style="background:none;"
                                        aria-label="Secondary navigation">
                                        <ul class="nhsuk-secondary-navigation__list">
                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link" aria-current="page"
                                                    href="04">Summary</a>
                                            </li>
                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link"
                                                    href="05">Treatments</a>
                                            </li>
                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link" href="">Age
                                                    groups</a>
                                            </li>
                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link"
                                                    href="">Resubmissions</a>
                                            </li>

                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link" href="">Notes</a>
                                            </li>
                                            <li class="nhsuk-secondary-navigation__item">
                                                <a class="nhsuk-secondary-navigation__link" href="">Case
                                                    history</a>
                                            </li>
                                        </ul>
                                    </nav>


                                    





                                    <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">

                                            <h3 class="nhsuk-card__heading">
                                                Claim ID: 8474
                                          
                                              </h3>
                                              <hr style="margin:-6px 0px 12px 0px;" />

                                              <div class="nhsuk-grid-row" style="padding-bottom:0; margin-bottom:0;">
                                                <div class="nhsuk-grid-column-one-half" style="padding-bottom:0; margin-bottom:0;">
                                                    <dl class="nhsuk-summary-list " style="padding-bottom:0; margin-bottom:0;">


        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                FA reference </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                SP473838473
                                                            </dd>
        
                                                        </div>
        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Year
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                2023
                                                            </dd>
        
                                                        </div>
        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Claim type
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                Main
                                                            </dd>
        
                                                        </div>
        
                                                        
        
                                                        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Article type
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                <p>Article 62 (Actual cost)</p>
        
                                                            </dd>
        
                                                        </div>
                                                        
        
        
        
        
                                                    </dl>
                                                </div>
                                                <div class="nhsuk-grid-column-one-half" style="padding-bottom:0; margin-bottom:0;">
                                                    <dl class="nhsuk-summary-list " style="padding-bottom:0; margin-bottom:0;">

                                                       
        
   
        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Country
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                Spain
                                                            </dd>
        
                                                        </div>
        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Region
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                -
                                                            </dd>
        
                                                        </div>
        
        
        
                                                        <div class="nhsuk-summary-list__row">
                                                            <dt class="nhsuk-summary-list__key">
                                                                Status
                                                            </dt>
                                                            <dd class="nhsuk-summary-list__value">
                                                                <p>Open</p>
        
                                                            </dd>
        
                                                        </div>
        
                                                    </dl>
                                                  </div>
                                              </div>









                                           





                                        </div>



                                    </div>
<!-- 
                                    <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">
                                            <h3 class="nhsuk-card__heading">
                                                Treatment details
                                          
                                              </h3>
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Accepted
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        5
                                                    </dd>
        
                                                </div>
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Withdrawn
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        0
                                                    </dd>
        
                                                </div>
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Partially accepted
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>1</p>
        
                                                    </dd>
        
                                                </div>
        
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Contested
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>17</p>
        
                                                    </dd>
        
                                                </div>
        
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Total
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <strong>23</strong>
                                                    </dd>
        
                                                </div>
        
                                            </dl>
                                        </div>
                                      </div> -->

                                      <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">
                                            <h3 class="nhsuk-card__heading">
                                                Total treatments: 23
                                          
                                              </h3>
                                              <hr style="margin:-6px 0px 12px 0px;" />

                                              <ul class="nhsuk-grid-row nhsuk-card-group">
                                                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">5 <span class="nhsuk-u-visually-hidden">Accepted</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Accepted</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Withdrawn</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Withdrawn</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">1 <span class="nhsuk-u-visually-hidden">Partially accepted</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Partially accepted</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">17 <span class="nhsuk-u-visually-hidden">Contested</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Contested</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                              </ul>
                                   
                                        </div>
                                      </div>

                                      <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">
                                            <h3 class="nhsuk-card__heading">
                                                Total calendar months: 276
                                          
                                              </h3>
                                              <hr style="margin:-6px 0px 12px 0px;" />

                                              <ul class="nhsuk-grid-row nhsuk-card-group">
                                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">60 <span class="nhsuk-u-visually-hidden">Accepted</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Accepted</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Withdrawn</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Withdrawn</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">11 <span class="nhsuk-u-visually-hidden">Partially accepted</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Partially accepted</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                  <div class="nhsuk-card nhsuk-card--clickable">
                                                    <div class="nhsuk-card__content">
                                                      <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Partially withdrawn</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Partially withdrawn</a>
                                                    </div>
                                                  </div>
                                              
                                                </li>
                                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                    <div class="nhsuk-card nhsuk-card--clickable">
                                                      <div class="nhsuk-card__content">
                                                        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">1 <span class="nhsuk-u-visually-hidden">Partially contested</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Partially contested</a>
                                                      </div>
                                                    </div>
                                                
                                                  </li>
                                                  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                              
                                                    <div class="nhsuk-card nhsuk-card--clickable">
                                                      <div class="nhsuk-card__content">
                                                        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">204 <span class="nhsuk-u-visually-hidden">Contested</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Contested</a>
                                                      </div>
                                                    </div>
                                                
                                                  </li>
                                              </ul>

                                        </div>
                                      </div>
<!-- 
                                      <div class="nhsuk-card">
                                        <div class="nhsuk-card__content">
                                            <h3 class="nhsuk-card__heading">
                                                Calendar details
                                          
                                              </h3>
                                            <dl class="nhsuk-summary-list">
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Accepted months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        60
                                                    </dd>
        
                                                </div>
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Withdrawn months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        0
                                                    </dd>
        
                                                </div>
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Partially accepted months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>11</p>
        
                                                    </dd>
        
                                                </div>
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Partially withdrawn months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>0</p>
        
                                                    </dd>
        
                                                </div>

                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Partially contested months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>1</p>
        
                                                    </dd>
        
                                                </div>
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Contested months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <p>204</p>
        
                                                    </dd>
        
                                                </div>
        
        
        
                                                <div class="nhsuk-summary-list__row">
                                                    <dt class="nhsuk-summary-list__key">
                                                        Total months
                                                    </dt>
                                                    <dd class="nhsuk-summary-list__value">
                                                        <strong>276</strong>
                                                    </dd>
        
                                                </div>
        
                                            </dl>
                                        </div>
                                      </div> -->





                                </div>

                            </div>




                            <!-- End of content -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of central content -->

        <!--start left navigation-->
        <div class="nhsBSA-sidebar-nav">
            <div class="side-nav">
                <!-- <h3>
                    Navigation Title<span class="nhsuk-caption-m nhsuk-caption--bottom">
                        <span class="nhsuk-u-visually-hidden"> - </span>Navigation subtitle</span>
                </h3> -->
                <ul>
                    <div id="options" class="options">
                        <li>
                            <a href="../dashboard/version-06">Dashboard</a>
                        </li>
                        <li>
                            <a href="../search/claim-version-06">Search</a>
                        </li>
                        <li>
                            <a class="active" href="">FA Claims</a>
                        </li>
                        <li>
                            <a href="">Resubmissions</a>
                        </li>
                        <li>
                            <a href="">Reports</a>
                        </li>

                    </div>
                </ul>
            </div>
        </div>
        <!--end left navigation-->

    </div>
</div>
{% endblock %}