<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: ''
},
{
name: 'Invoices',
path: ''
},
{
name: 'Submissions',
path: '',
active: true
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Reply to contestation created - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../../home">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../index">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Start of cya -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="confirmation-box">
                    <h1 class="heading-xlarge"><span id="done-tick"></span>Reply to contestation created for claim ID 6784
                    </h1>
                    <h2 class="heading-large"><span class="heading-secondary" style="color:white;">Reply to contestation ID 7766
                        </span>

                    </h2>
                </div>
                <p>You've created a new reply to contestation for France. The target date to complete this submission is 1 September 2025.</p>

                <h2 class="heading-medium">What happens next</h2>
                <p>You can now add invoices to this submission.</p>

                <a href="../contestations/7766/01-not-started">
                    <button style="margin-right:12px;" class="nhsuk-button" data-module="nhsuk-button" type="button">
                        Manage reply to contestation
                    </button>
                </a>
            </div>
        </div>
        <!-- End of cya -->

    </div>
</div>


{% endblock %}