<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-04/claims/summary/not-started'
},
{
name: 'Invoices',
path: '/alpha/version-04/claims/invoices/no-invoices',
active: true
},
{
name: 'Uploaded files',
path: '/alpha/version-04/claims/file-uplaods/no-uploads'
},
{
name: 'History',
path: '#'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Contact method - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../index">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <form action="xml/index" method="post">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                        <h1 class="nhsuk-fieldset__heading">
                            <span class="nhsuk-caption-l">Add invoices</span>
                            Contact method
                        </h1>
                    </legend>
            </div>

            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-card nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-card__content">

                        <!-- Contact method -->
                        <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset">
                                <legend
                                    class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m ">
                                    <h1 class="nhsuk-fieldset__heading">
                                        How was the claim submitted?
                                    </h1>
                                </legend>
                                <div class="nhsuk-radios">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="data-source-rina" name="data-source"
                                            type="radio" value="RINA">
                                        <label class="nhsuk-label nhsuk-radios__label" for="data-source-rina">
                                            RINA
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="data-source-edi" name="data-source"
                                            type="radio" value="EDI">
                                        <label class="nhsuk-label nhsuk-radios__label" for="data-source-edi">
                                            EDI
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="data-source-paper" name="data-source"
                                            type="radio" value="Paper">
                                        <label class="nhsuk-label nhsuk-radios__label" for="data-source-paper">
                                            Paper
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>



                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                            Continue
                        </button>


                    </div>
                </div>


                <a href="../../summary/not-started" class="nhsuk-link">Cancel</a>
                </form>
            </div>
        </div>






    </div>
</div>
{% endblock %}
<!-- End of central content -->