<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
        name: 'Home',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/home'
    },
    {
        name: 'Search',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/search'
    },
    {
        name: 'Claims',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/index'
    },
    {
        name: 'Contested claims',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/contested-claims'
    },
    {
        name: 'Reports',
        path: '/alpha/version-01/claims/screen-per-question/with-navigation/reports'
    }
]
%}
<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Manage member state claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="#">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Home
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content and left navigation -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-heading-xl ">
                    Claims
                </h1>
            </div>
        </div>

        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-two-thirds">



                <!--start search-->
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading">
                            Search

                        </h3>
                        <hr style="margin:-6px 0px 12px 0px;" />


                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="example">
                                Claim ID
                            </label>
                            <div class="nhsuk-hint" id="example-with-hint-text-hint">
                                For example, 8493
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-one-half" id="example" name="example" type="text">
                        </div>
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="example">
                                Country
                            </label>
                            <div class="nhsuk-hint" id="example-with-hint-text-hint">
                                For example, France
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-one-half" id="example" name="example" type="text">
                        </div>
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="example">
                                Claim reference
                            </label>
                            <div class="nhsuk-hint" id="example-with-hint-text-hint">
                                For example, 33778844AA890E
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-one-half" id="example" name="example" type="text">
                        </div>


                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="example">
                                Financial year
                            </label>
                            <div class="nhsuk-hint" id="example-with-hint-text-hint">
                                For example, 2021
                            </div>
                            <input class="nhsuk-input nhsuk-u-width-one-half" id="example" name="example" type="text">
                        </div>





                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-full">


                                <div class="nhsuk-form-group">

                                    <fieldset class="nhsuk-fieldset">
                                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                            <h1 class="nhsuk-fieldset__heading">
                                                Article type
                                            </h1>
                                        </legend>

                                        <div class="nhsuk-radios nhsuk-radios--inline">

                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="example-inline-1"
                                                    name="example-inline" type="radio" value="yes">
                                                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                                                    Average cost
                                                </label>
                                            </div>

                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="example-inline-2"
                                                    name="example-inline" type="radio" value="no">
                                                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                                                    Actual cost
                                                </label>
                                            </div>

                                        </div>

                                </div>

                                <div class="nhsuk-form-group">

                                    <fieldset class="nhsuk-fieldset">
                                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                            <h1 class="nhsuk-fieldset__heading">
                                                Claim type
                                            </h1>
                                        </legend>

                                        <div class="nhsuk-radios nhsuk-radios--inline">

                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="example-inline-1"
                                                    name="example-inline" type="radio" value="yes">
                                                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                                                    Main
                                                </label>
                                            </div>

                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="example-inline-2"
                                                    name="example-inline" type="radio" value="no">
                                                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                                                    Supplemental
                                                </label>
                                            </div>

                                        </div>

                                </div>

                                </fieldset>
                            </div>

                        </div>




                        <div class="nhsuk-grid-row">

                            <button style="margin-left:16px" class="nhsuk-button nhsuk-button--secondary"
                                data-module="nhsuk-button" type="submit">
                                Search
                            </button>

                        </div>


                    </div>
                </div>

                <!--end search-->

            </div>





            <div class="nhsuk-grid-column-one-third">

                <!-- start add new -->
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading">
                            Create new

                        </h3>
                        <hr style="margin:-6px 0px 12px 0px;" />
                        <a href="create/submission-date">
                            <button class="nhsuk-button nhsuk-button" data-module="nhsuk-button" type="submit">
                                Create a new claim
                            </button>
                        </a>
                    </div>
                </div>

                <!-- end add new -->
                <!--start recently edited-->

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h3 class="nhsuk-card__heading nhsuk-heading-s">
                            Recently edited by you
                        </h3>
                        <hr style="margin:0px 0px 12px 0px;" />

                        <table role="table" class="nhsuk-table-responsive">

                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        Claim ID
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Country
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Claim ID
                                        </span>8474
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Country
                                        </span>France
                                    </td>
                                    <td><a href="">View</a></td>

                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Claim ID
                                        </span>5477
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Country
                                        </span>Germany
                                    </td>
                                    <td><a href="">View</a></td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Claim ID
                                        </span>3677
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Country
                                        </span>Switzerland
                                    </td>
                                    <td><a href="">View</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- End of page content and left navigation -->