<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Reply to contestation details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6799</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Reply to contestation ID 8442</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}



<!-- Start confirmation box -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="confirmation-box">

            <h1 class="heading-xlarge"><span id="done-tick"></span>Invoice added to reply to contestation
            </h1>

            <h2 class="heading-large"><span class="heading-secondary" style="color:white;">Invoice reference
                    number<br>
                    0048785410
                </span>
            </h2>
        </div>
    </div>
</div>
<!-- End confirmation box -->

<!-- Start of what happens next -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">What happens next</h2>
        <p class="nhsuk-body">The invoice has now been added to the reply to contestation.</p>
        <p class="nhsuk-body">You can remove this invoice at any time before the added invoices have been confirmed.</p>
    </div>
</div>
<!-- End of what happens next -->

<!-- Start of buttons -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

            <a href="01-select">
        <button style="margin-right:12px;" class="nhsuk-button" data-module="nhsuk-button" type="button">
            Add another invoice
        </button>
    </a>

        <a href="02-on-hold-adding-invoices#invoices"> <button style="margin-right:12px;" class="nhsuk-button nhsuk-button--secondary"
                data-module="nhsuk-button" type="button">
                View added invoices
            </button></a>


    </div>
</div>
<!-- End of buttons -->





{% endblock %}