<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/summary/active-invoices-uploaded',
active: true
},
{
name: 'Invoices',
path: ''
},
{
name: 'Contestations',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/contestations/not-started'
},
{
  name: 'Notes',
  path: ''
  },
{
name: 'History',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/history/timeline-active'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of claim details -->
{% block ClaimId %}
6752
{% endblock %}
{% block submittingCountry %}
Lithuania
{% endblock %}
<!-- End of claim details-->

<!-- Start of page title -->
{% block pageTitle %}
Contestations - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../../../../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of header -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl ">
      Contestations
    </h1>
  </div>
</div>
<!-- End of header-->

<!-- Start main body -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <p class="nhsuk-body">The claim still has invoices to be checked.</p>
        <p class="nhsuk-body">Once all the invoices have been checked you can create a contestation.</p>
    </div>
  </div>
  <!-- End main body-->







{% endblock %}
<!-- End of central content -->