<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

  <!-- Extends the layout from /views/layout-full-width-claim.html -->
  {% extends 'layout-full-width-invoice-poc.html' %}
  <!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->
  
  <!-- Start of page title -->
  {% block pageTitle %}
File upload confirmation - Manage incoming international healthcare claims - NHSBSA
  {% endblock %}
  <!-- End of page title -->
  
  {% block beforeContent %}
  <!-- Start of breadcrumb -->
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container-fluid">
          <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../../../home">Home</a>
              </li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../../index">Claims</a>
              </li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
              </li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                      href="">Submissions</a>
              </li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                href="">Reply to contestation ID 7766</a>
        </li>
          </ol>
          <p class="nhsuk-breadcrumb__back">
              <a class="nhsuk-breadcrumb__backlink" href="">
                  <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                  Claims
              </a>
          </p>
      </div>
  </nav>
  <!-- End of breadcrumb -->
  {% endblock %}
  
  {% block content %}
  
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="confirmation-box">
            <h1 class="nhsuk-heading-xl">File uploaded for France
            </h1>
            <h2 class="nhsuk-heading-l">Invoices added to reply to contestation ID 7766</h2>
        </div>

        <p>You've successfully uploaded a file of invoices to this reply to contestation.</p>

        <h2 class="nhsuk-heading-l">What happens next</h2>
        <p>Reply to contestation ID 7766 is on hold and you'll need to mark it as open to see the updated invoice information.</p>

        <a href="05-on-hold">
            <button class="nhsuk-button" data-module="nhsuk-button" type="button">
                View reply to contestation details
            </button>
        </a>


    </div>
</div>
  

  
  
  
  <!-- End main content -->
  
  {% endblock %}