<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6789</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of title block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">Claim ID 6789 &ndash; France</span>
            Credit note ID 9441
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-third" style="text-align: right">
        <a href="#" class="nhsuk-button nhsuk-button--secondary" role="button" data-module="nhsuk-button">Exit
            submission</a>
    </div>
</div>
<!-- End of title block -->

<!-- Start header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-full">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                    Credit note details
                                </h2>
                            </div>
                        </div>
                        <hr
                            class="nhsuk-section-break nhsuk-section-break--s nhsuk-section-break--visible nhsuk-u-margin-bottom-3">
                        <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key" style="width:55%">Credit note reference</dt>
                                <dd class="nhsuk-summary-list__value">No data</dd>
                                <dd class="nhsuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Target date</dt>
                                <dd class="nhsuk-summary-list__value">
                                    14 July 2026
                                </dd>
                                <dd class="nhsuk-summary-list__actions">
                                    <a href="#">
                                        Change<span class="nhsuk-u-visually-hidden"> Target date</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Date received</dt>
                                <dd class="nhsuk-summary-list__value">
                                    10 June 2025
                                </dd>
                                <dd class="nhsuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Reported total number</dt>
                                <dd class="nhsuk-summary-list__value">2</dd>
                                <dd class="nhsuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Reported total months withdrawn</dt>
                                <dd class="nhsuk-summary-list__value">7</dd>
                                <dd class="nhsuk-summary-list__actions">
                                </dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Current status</dt>
                                <dd class="nhsuk-summary-list__value"><strong
                                        class="nhsuk-tag nhsuk-tag--aqua-green">Active</strong></dd>
                                <dd class="nhsuk-summary-list__actions">
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-1">
                            Task list
                        </h2>
                        <ul class="nhsuk-task-list">
                            <li class="nhsuk-task-list__item">
                                <div class="nhsuk-task-list__name-and-hint"><a class="nhsuk-link nhsuk-task-list__link"
                                        href="#creditNotes">Check
                                        individual credit notes</a>
                                </div>
                                <div class="nhsuk-task-list__status"><strong class="nhsuk-tag nhsuk-tag--white">
                                        In progress
                                    </strong></div>

                            </li>
                            <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
                                <div class="nhsuk-task-list__name-and-hint">Confirm checks complete
                                </div>
                                <div class="nhsuk-task-list__status nhsuk-task-list__status--completed">
                                    Cannot start yet</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- End header block -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">Contents</h2>

            <!-- Start of tab titles -->
            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#summary"> Summary </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#creditNotes"> Individual credit notes </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#outcomes"> Outcomes </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#notes"> Notes </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#history"> History </a>
                </li>
            </ul>
            <!-- End of tab titles -->

            <!-- *** Start of summary tab *** -->
            <div class="nhsuk-tabs__panel" id="summary">
                <!-- Start of header block -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Summary</h2>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content">
                                <table class="nhsuk-table">
                                    <caption class="nhsuk-table__caption nhsuk-u-margin-bottom-3"
                                        style="border-bottom: 1px solid #d8dde0">Individual credit notes
                                    </caption>
                                    <thead class="nhsuk-table__head">
                                        <tr>
                                            <th scope="col" class="nhsuk-table__header">Status</th>
                                            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
                                                Number
                                            </th>
                                            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">
                                                Amount (months)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">To check</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">3</td>
                                        </tr>
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">Active</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                                        </tr>
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">Accepted</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">4</td>
                                        </tr>
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">Contested</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                                        </tr>
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">Partial</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Not applicable</td>
                                        </tr>
                                        <tr class="nhsuk-table__row">
                                            <th scope="row" class="nhsuk-table__header">Total</th>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">2</td>
                                            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">7</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** End of summary tab *** -->

            <!-- *** Start of individual credit tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="creditNotes">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Individual credit notes</h2>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content">

                                <!-- Start header block-->
                                <div class="nhsuk-grid-row nhsuk-u-padding-bottom-3">
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Showing 1 to 2 of 2 results
                                        </h3>
                                    </div>
                                    <div class="nhsuk-grid-column-one-third">
                                        <div class="nhsuk-form-group" style="float:right;">
                                            <label class="nhsuk-label" for="results">
                                                Results per page
                                            </label>
                                            <select class="nhsuk-select" id="results" name="results"
                                                style="float:right;">
                                                <option value="10" selected="">10</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- End header block -->



                                <!-- Start of table data -->
                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <table role="table" class="nhsuk-table-responsive">
                                            <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
                                            <thead role="rowgroup" class="nhsuk-table__head">
                                                <tr role="row">
                                                    <th role="columnheader" class="" scope="col">
                                                        Individual credit<br>note reference
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        Invoice reference
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        Last name
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        First name
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        Credit months
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        Status
                                                    </th>
                                                    <th role="columnheader" class="" scope="col">
                                                        View
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="nhsuk-table__body">
                                                <tr role="row" class="nhsuk-table__row">
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Individual credit
                                                            note reference </span>No data
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                                        </span>26584633
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Last name
                                                        </span>Hampton
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">First
                                                            name</span>Thomas
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Credit
                                                            months</span>4
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span
                                                            class="nhsuk-table-responsive__heading">Status</span>Accepted
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">View </span><a
                                                            href="#creditNotes">View individual credit
                                                            note</a>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="nhsuk-table__row">
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Individual credit
                                                            note reference </span>No data
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                                        </span>26585127
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Last name
                                                        </span>Andrews
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">First
                                                            name</span>Sophia
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Credit
                                                            months</span>3
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">Status</span>To
                                                        check
                                                    </td>
                                                    <td role="cell" class="nhsuk-table__cell">
                                                        <span class="nhsuk-table-responsive__heading">View </span><a
                                                            href="10-20001542-to-check">View individual credit
                                                            note</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End of table data -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** End of individual credit notes tab *** -->

            <!-- *** Start of outcomes tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="outcomes">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Outcomes</h2>
                    </div>
                </div>
            </div>
            <!-- *** End of outcomes tab *** -->

            <!-- *** Start of notes tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Notes</h2>
                    </div>
                </div>
            </div>
            <!-- *** End of notes tab *** -->

            <!-- *** Start of history tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="history">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">History</h2>
                    </div>
                </div>

            </div>
            <!-- *** End of history tab *** -->
        </div>
    </div>
</div>
<!-- End of tabs-->

{% endblock %}