<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-12/claims/rina/actual-cost/6784-france/summary/active-invoices-uploaded'
},
{
name: 'Invoices',
path: '/alpha/version-12/claims/rina/actual-cost/6784-france/invoices/full-invoice-list',
active: true
},
{
name: 'Submissions',
path: ''
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../index">Claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../summary/active-invoices-uploaded">Claim ID 6784</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/full-invoice-list">Invoices</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/details/20001554/01-to-check">Invoice ID 20001554</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}



<!-- Start of central content -->
{% block content %}

<style>
    .nhsuk-card--secondary {
        background: rgba(0, 0, 0, 0);
        border-bottom: 4px solid #d8dde0;
        border-left: 0;
        border-right: 0;
        border-top: 0
    }

    .nhsuk-card__content--secondary {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0
    }
</style>



<!-- Start of back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="03-person-search-results">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>
    </div>
</div>
<!-- End of back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Person record
        </h1>
    </div>
</div>
<!-- End of header block -->


<div class="nhsuk-grid-row">

    <!-- Start of details held on OHS -->
    <div class="nhsuk-grid-column-three-quarters">

        <!-- Start of person details -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <div class="nhsuk-card nhsuk-u-margin-bottom-6">
                    <div class="nhsuk-card__content" style="padding:16px;">

                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Stephenson
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Kaleigh
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            10 January 1981
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            OHS reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            25059883
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            NI number
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            JM 23 66 19 A
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            NHS number
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Residential country
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            UK
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Deceased date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <div class="nhsuk-grid-column-one-third" style="text-align:right;">
                                <a href="05-auto-validation">
                                    <button class="nhsuk-button nhsuk-u-margin-bottom-3"
                                        style="display:inline; width:90%; float:right;" data-module="nhsuk-button"
                                        type="submit">
                                        Assign to invoice
                                    </button>
                                </a>
                                <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3"
                                    style="display:inline; width:90%; float:right;" data-module="nhsuk-button"
                                    type="submit">
                                    View OHS record
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of person details -->


        <!-- Start of tabs-->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-tabs" data-module="nhsuk-tabs">
                    <h2 class="nhsuk-tabs__title">
                        Contents
                    </h2>

                    <!-- Start of tab titles -->
                    <ul class="nhsuk-tabs__list">
                        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                            <a class="nhsuk-tabs__tab" href="#entitlements">
                                Entitlements
                            </a>
                        </li>
                        <li class="nhsuk-tabs__list-item">
                            <a class="nhsuk-tabs__tab" href="#invoices">
                                Invoices
                            </a>
                        </li>
                        <li class="nhsuk-tabs__list-item">
                            <a class="nhsuk-tabs__tab" href="#notes">
                                Notes
                            </a>
                        </li>
                    </ul>
                    <!-- End of tab titles -->



                    <!-- *** Start of entitlements tab *** -->
                    <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="entitlements">
                        <h2 class="nhsuk-heading-l">Entitlements</h2>
                        <details class="nhsuk-details">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Filter and sort options
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <div class="nhsuk-grid-row">

                                    <!-- Start filter by entitlement -->
                                    <div class="nhsuk-grid-column-one-third">
                                        <div class="nhsuk-form-group">
                                            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                                    <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                                        Filter by entitlement type
                                                    </h1>
                                                </legend>
                                                <div class="nhsuk-checkboxes">
                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input"
                                                            id="filter-entitlement-s1" name="filter-entitlement"
                                                            type="checkbox" value="s1">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="filter-entitlement-s1">
                                                            S1
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input"
                                                            id="filter-entitlement-ehic" name="filter-entitlement"
                                                            type="checkbox" value="ehic">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="filter-entitlement-ehic">
                                                            EHIC
                                                        </label>
                                                    </div>

                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input"
                                                            id="filter-entitlement-prc" name="filter-entitlement"
                                                            type="checkbox" value="prc">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="filter-entitlement-prc">
                                                            PRC
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input"
                                                            id="filter-entitlement-s2" name="filter-entitlement"
                                                            type="checkbox" value="s2">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="filter-entitlement-s2">
                                                            S2
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-checkboxes__item">
                                                        <input class="nhsuk-checkboxes__input"
                                                            id="filter-entitlement-da1" name="filter-entitlement"
                                                            type="checkbox" value="da1">
                                                        <label class="nhsuk-label nhsuk-checkboxes__label"
                                                            for="filter-entitlement-da1">
                                                            DA1
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>
                                    <!-- End filter by entitlement -->

                                    <!-- Start sort by  -->
                                    <div class="nhsuk-grid-column-one-third">
                                        <div class="nhsuk-form-group nhsuk-u-padding-bottom-5">
                                            <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                                    <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                                        Sort by
                                                    </h1>
                                                </legend>
                                                <div class="nhsuk-radios">

                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-type"
                                                            name="sort-by" type="radio" value="Type">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-type">
                                                            Type
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-issue-number"
                                                            name="sort-by" type="radio" value="Issue number">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-issue-number">
                                                            Issue number
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-start-date"
                                                            name="sort-by" type="radio" value="Start date">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-start-date">
                                                            Start date
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-end-date"
                                                            name="sort-by" type="radio" value="End date"
                                                            checked="checked">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-end-date">
                                                            End date
                                                        </label>
                                                    </div>

                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- End sort by  -->

                                    <!-- Start order by  -->
                                    <div class="nhsuk-grid-column-one-third">
                                        <div class="nhsuk-form-group">
                                            <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                                    <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                                        Order results
                                                    </h1>
                                                </legend>
                                                <div class="nhsuk-radios">
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="order-by-asc"
                                                            name="order-by" type="radio" value="ascending">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="order-by-asc">
                                                            Ascending
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="order-by-desc"
                                                            name="order-by" type="radio" value="descending"
                                                            checked="checked">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="order-by-desc">
                                                            Descending
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- End order by  -->


                                    <div class="nhsuk-grid-column-full">
                                        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-4"
                                            data-module="nhsuk-button" type="submit" style="margin-top: 6px;">
                                            Apply filters
                                        </button><br>
                                        <a href="">Reset all filters</a>
                                    </div>

                                </div>

                            </div>
                        </details>
                        <table role="table" class="nhsuk-table-responsive">
                            <!-- <caption class="nhsuk-table__caption">Entitlement details</caption> -->
                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        Type
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Issue number
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Start date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        End date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Main or<br />dependant
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Country
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Status
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type
                                        </span>EHIC
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue
                                            number </span>80826000010168456876
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Start
                                            date </span>23 Mar 2021
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">End
                                            date </span>22 Mar 2026
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Main or
                                            dependant </span>Main
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Country</span>
                                        No data
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Status
                                        </span>Issued
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">View</span>
                                        No data
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type
                                        </span>PRC
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue
                                            number </span>8954727548358943
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Start
                                            date </span>19 Dec 2020
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">End
                                            date </span>19 Dec 2020
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Main or
                                            dependant </span>Main
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Country
                                        </span>France
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Status
                                        </span>Expired
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">View</span>
                                        No data
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- *** End of entitlements tab *** -->


                    <!-- *** Start of invoices tab *** -->
                    <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="invoices">
                        <h2 class="nhsuk-heading-l">Invoices</h2>
                        <table role="table" class="nhsuk-table-responsive">
                            <!-- <caption class="nhsuk-table__caption">Invoices</caption> -->
                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        Claim ID
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Invoice reference
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Start date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        End date
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Total amount
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Status
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        View
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Claim ID
                                        </span>
                                        5877
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Invoice
                                            reference
                                        </span>0027784532
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Start date
                                        </span>19 Nov 2021
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">End date
                                        </span>19 Nov 2021
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Total amount
                                        </span>93.46
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">Status
                                        </span>Accepted
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">View
                                        </span>
                                        {{ details({
                                        "text": "View more",
                                        "attributes": {
                                        rowExpander: "rowExpander1102606"
                                        }
                                        }) }}
                                    </td>
                                </tr>
                                <tr role="row"
                                    class="nhsuk-table__row nhsuk-table__row-expander nhsuk-u-visually-hidden"
                                    id="rowExpander1102606" style="background-color:#f0f4f5">
                                    <td colspan="8" style="padding:20px;">

                                        <div class="nhsuk-grid-row">
                                            <div class="nhsuk-grid-column-three-quarters">
                                                <!-- Entitlement details -->
                                                <h4 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                                    Entitlement details
                                                </h4>
                                                <dl class="nhsuk-summary-list">
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Type
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            EHIC
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Start date
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            23 Mar 2021
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            End date
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            22 Mar 2026
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Issue date
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            23 Mar 2021
                                                        </dd>
                                                    </div>
                                                </dl>
                                                <!-- Hospitalisation-->
                                                <h4 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                                    Hospitalisation
                                                </h4>
                                                <dl class="nhsuk-summary-list">
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Period 1 start date
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Period 1 end date
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Amount 1
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                </dl>

                                                <!-- Other care-->
                                                <h4 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                                    Other care
                                                </h4>
                                                <dl class="nhsuk-summary-list">
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Medical care amount
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            70
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Medicine care amount
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            23.46
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Dental care amount
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Long term care amount
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                </dl>

                                                <!-- Other benefits-->
                                                <h4 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                                                    Other benefits
                                                </h4>
                                                <dl class="nhsuk-summary-list">
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Description 1
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                    <div class="nhsuk-summary-list__row">
                                                        <dt class="nhsuk-summary-list__key">
                                                            Amount 1
                                                        </dt>
                                                        <dd class="nhsuk-summary-list__value">
                                                            No data
                                                        </dd>
                                                    </div>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="nhsuk-grid-row">
                                            <div class="nhsuk-grid-column-full">
                                                <button
                                                    class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3"
                                                    data-module="nhsuk-button" type="submit">
                                                    View full invoice
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- *** End of invoices tab *** -->

                    <!-- *** Start of notes tab *** -->
                    <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                        <h2 class="nhsuk-heading-l">Notes</h2>
                        <p class="nhsuk-body">There are currently no notes.</p>
                    </div>
                    <!-- *** End of notes tab *** -->
                </div>
            </div>
        </div>
        <!-- End of tabs-->

    </div>
    <!-- End of details held on OHS-->

    <!-- Start of invoice details from submitting country -->
    <div class="nhsuk-grid-column-one-quarter">

        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">
            Invoice details from France
        </h2>
        <span class="nhsuk-caption-m nhsuk-u-margin-bottom-1">Invoice reference: 0039795410</span>
        <hr style="margin:0px 0px 30px 0px;">

        <!-- Start person details-->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Person details
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Last name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Stephenson
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            First name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Kayleigh
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            10 Jan 1981
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            PIN in UK
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            JM 23 66 19 A
                        </dd>
                    </div>
                </dl>

            </div>
        </div>
        <!-- End person details-->

        <!-- Start entitlement details -->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">

                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Entitlement details
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            EHIC
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Issue number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            80826000010168456876
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            23 Mar 2021
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            22 Mar 2026
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Issue date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            23 Mar 2021
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <!-- End entitlement details-->

        <!-- Start invoice period and amount-->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Invoice period and amount
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            1 Jun 2023
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            2 Jun 2023
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Total amount
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            2134.75
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <!-- End invoice period and amount-->

    </div>
    <!-- End of invoice details from submitting country -->
</div>

<!-- End person search -->

{% endblock %}
<!-- End of central content -->