<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-04/claims/summary/processing-progress-0'
},
{
name: 'Invoices',
path: '/alpha/version-04/claims/invoices/processing-progress-0',
active: true
},
{
name: 'Uploaded files',
path: '/alpha/version-04/claims/file-uploads/processing-progress-0'
},
{
name: 'History',
path: '/alpha/version-04/claims/history/processing'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Invoices - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

    <!-- Start of warning block -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout" style="margin-top:0;">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
              Processing uploaded invoices
            </span>
          </h3>
          <label class="nhsuk-label" for="upload">0% processed | Estimated time left: 53 minutes</label>
          <progress class="nhsuk-u-width-one-third" id="upload" value="0" max="100"> 0% </progress>
          <p><a href="processing-progress-60">Refresh</a></p>
        </div>
      </div>
    </div>
    <!-- End of warning block -->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Start of title block -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-heading-xl ">
          Invoices
        </h1>
      </div>

      <div class="nhsuk-grid-column-one-half" style="text-align:right;">

        <a href="upload/options">
          <button class="nhsuk-button  nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
            Add invoices
          </button>
        </a>
      </div>

    </div>
    <!-- End of title block -->


<!-- Start of filter results -->
<div class="nhsuk-card">
  <div class="nhsuk-card__content">

    <form action="../../search-treatments-filter" method="post">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-card__heading">
            Filter results
          </h3>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <p style="float:right;"><a href="processing-progress-0">Reset all filters</a></p>
        </div>
      </div>

      <!-- Start of search inputs-->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="invoice-ref">
              Invoice reference
            </label>
            <input class="nhsuk-input" id="invoice-ref" name="invoice-ref" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="last-name">
              Last name
            </label>
            <input class="nhsuk-input" id="last-name" name="last-name" type="text">
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              First name
            </label>
            <input class="nhsuk-input" id="first-name" name="first-name" type="text">
          </div>
        </div>
      </div>
      <!-- End of text inputs -->

      <!-- Start of additional filter and sort options -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Additional filter and sort options
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <div class="nhsuk-grid-row">
                <!-- Start filter by-->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading">
                          Filter by
                        </h1>
                      </legend>
                      <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-all" name="filter-status"
                            type="checkbox" value="all" checked>
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-all">
                            All invoices (0)
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-tobechecked" name="filter-status"
                            type="checkbox" value="check">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-tobechecked">
                            To check (0)
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-accepted" name="filter-status"
                            type="checkbox" value="accepted">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-accepted">
                            Accepted (0)
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-contested" name="filter-status"
                            type="checkbox" value="contested">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-contested">
                            Contested (0)
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-partial" name="filter-status"
                            type="checkbox" value="partial">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-partial">
                            Partial (0)
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="filter-status-withdrawn" name="filter-status"
                            type="checkbox" value="withdrawn">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-status-withdrawn">
                            Withdrawn (0)
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End filter by -->

                <!-- Start sort by -->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading">
                          Sort by
                        </h1>
                      </legend>
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-id" name="sort-by" type="radio" value="yes"
                            checked="checked">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-id">
                            Invoice reference
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-last-name" name="sort-by" type="radio"
                            value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-last-name">
                            Last name
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-first-name" name="sort-by" type="radio"
                            value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-first-name">
                            First name
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-entitlement" name="sort-by" type="radio"
                            value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-entitlement">
                            Entitlement
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="sort-by-status" name="sort-by" type="radio" value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="sort-by-status">
                            Status
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End sort by -->

                <!-- Start order -->
                <div class="nhsuk-grid-column-one-third">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                        <h1 class="nhsuk-fieldset__heading">
                          Order
                        </h1>
                      </legend>
                      <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="order-by-asc" name="order-by" type="radio"
                            value="ascending" checked="checked">
                          <label class="nhsuk-label nhsuk-radios__label" for="order-by-asc">
                            Ascending
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="order-by-desc" name="order-by" type="descending"
                            value="descending">
                          <label class="nhsuk-label nhsuk-radios__label" for="order-by-desc">
                            Descending
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <!-- End order -->
              </div>
            </div>
          </details>
        </div>
      </div>
      <!-- End of additional filter and sort options -->

      <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button"
        type="submit">
        Update results
      </button>

    </form>
  </div>
</div>
<!-- End of filter results -->

<!-- Start download-->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-action-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-action-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Download results</span>
      </a>
    </div>

  </div>
</div>
<!-- End download -->

<!-- Start invoice listings -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">

        <!-- Start header block-->
        <div class="nhsuk-grid-row nhsuk-u-padding-bottom-6">
          <div class="nhsuk-grid-column-two-thirds">
            <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing 0 results of 0 for</h3>
            <p class="nhsuk-u-margin-bottom-2"><strong class="nhsuk-tag nhsuk-tag--aqua-green">
                All invoices
              </strong></p>
          </div>
          <div class="nhsuk-grid-column-one-third">
            <div class="nhsuk-form-group" style="float:right;">
              <label class="nhsuk-label" for="results">
                Results per page
              </label>
              <select class="nhsuk-select" id="results" name="results" style="float:right;">
                <option value="10" selected>10</option>
                <option value="100">100</option>
                <option value="200">200</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End header block -->

        <!-- Start of table data -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">

            <table role="table" class="nhsuk-table-responsive">
              <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Invoice reference
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Last name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    First name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Entitlement
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Status
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">

              </tbody>
            </table>
            <p style="margin-top:12px;">No records</p>



          </div>
        </div>
        <!-- End of table data -->

      </div>
    </div>
  </div>
</div>
<!-- End of invoice listings -->

{% endblock %}
<!-- End of central content -->