<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claims</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Credit note ID 28</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Individual credit notes</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Individual credit note ID 10003842</a>
        </li>
    </ol>
    <a class="nhsuk-back-link" href="#">
        <span class="nhsuk-u-visually-hidden">Back to </span>claims
    </a>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="05-invoice-reply-to-contestation#submissions">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-l">Credit note ID 28</span>
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0">
            Invoice ID 20001574 (version 2)
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-third" style="text-align:right;">
        <a href="01-claim-details" class="nhsuk-button nhsuk-button--secondary" role="button"
            data-module="nhsuk-button">Exit
            invoice</a>
    </div>
</div>
<!-- End of header block -->

<!-- Start of warning callout -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card nhsuk-card--warning">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading">
                    <span role="text">
                        <span class="nhsuk-u-visually-hidden">Important:</span> Historical version
                    </span>
                </h2>
                <p class="nhsuk-card__description">You're viewing an earlier version of this invoice from submission ID
                    28. You cannot edit it.</p>
            </div>
        </div>
    </div>
</div>
<!-- End of warning callout -->

<!-- Start of key information box-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Invoice reference
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            0039795409
                        </dd>
                        <dd class="nhsuk-summary-list__actions"></dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong class="nhsuk-tag nhsuk-tag--red">
                                Contested
                            </strong>
                        </dd>
                        <dd class="nhsuk-summary-list__actions"></dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Decision date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            23 August 2024
                        </dd>
                        <dd class="nhsuk-summary-list__actions"></dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- End of key information box -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">
                Contents
            </h2>

            <!-- Start of tab titles -->
            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#summary">
                        Summary
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                    <a class="nhsuk-tabs__tab" href="#import">
                        Linked individual credit note
                    </a>
                </li>
            </ul>
            <!-- End of tab titles -->

            <!-- *** Start of summary tab content *** -->
            <div class="nhsuk-tabs__panel" id="summary">

                <!-- Start of header block -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h2 class="nhsuk-heading-l">Summary</h2>
                    </div>
                </div>
                <!-- End of header block -->

                <!-- Start of decision -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                            Decision
                        </h3>
                        <div class="nhsuk-card" id="status">
                            <div class="nhsuk-card__content" style="padding:18px 16px 16px 16px;">
                                <div class="nhsuk-grid-row ">
                                    <div class="nhsuk-grid-column-full">
                                        <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-0">
                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                                    <div class="nhsuk-card__content">
                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">0
                                                            <span class="nhsuk-u-visually-hidden">Accepted
                                                                amount</span>
                                                        </p>Accepted amount
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                                    <div class="nhsuk-card__content">
                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">800.50 <span
                                                                class="nhsuk-u-visually-hidden">Contested
                                                                amount</span>
                                                        </p>Contested amount
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                                                    <div class="nhsuk-card__content">
                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">100.00 <span
                                                                class="nhsuk-u-visually-hidden">Withdrawn
                                                                amount</span>
                                                        </p>Withdrawn amount
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="nhsuk-inset-text nhsuk-u-margin-bottom-1"
                                            style="max-width:none; margin-top:16px;">
                                            <span class="nhsuk-u-visually-hidden">Information:</span>
                                            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Contestation reason
                                            </h4>
                                            <p>Entitlement document is unknown or not found. Please provide copy.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of decision -->

                <!-- start data comparison -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                            Invoice details from France
                        </h3>
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content" style="padding:16px;">
                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Person details
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Jones
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Elizabeth
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            8 February 1977
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            PIN in UK
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            JM 76 32 32 A
                                        </dd>
                                    </div>

                                </dl>

                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Entitlement details
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Document
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            EHIC
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Issue number
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            80826000010168456876
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            29 November 2019
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            End date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            28 November 2024
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Issue date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            29 November 2019
                                        </dd>
                                    </div>
                                </dl>

                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Invoice period and amount
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">
                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            12 August 2024
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            End date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            16 August 2024
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Original amount
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            900.50
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Amount after credit
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            800.50
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
                                <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
                                    Matched OHS person record
                                </h3>
                            </div>
                            <div class="nhsuk-grid-column-one-third" style="text-align:right;">
                                <p class="nhsuk-body nhsuk-u-margin-bottom-0"><a href="#/" class="nhsuk-link">View
                                        person record</a></p>
                            </div>
                        </div>
                        <div class="nhsuk-card nhsuk-u-margin-bottom-3">
                            <div class="nhsuk-card__content" style="padding:16px;">

                                <h4 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                                    Person details
                                </h4>
                                <hr style="margin:0px 0px 10px 0px;">

                                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Jones
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Elizabeth
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            8 February 1977
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            OHS reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            25046944
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            NI number
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            JM 76 32 32 A
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Residential country
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            UK
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end data comparison -->
            </div>
            <!-- *** End of summary tab *** -->

            <!-- *** Start of history tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="import">
                <h2 class="nhsuk-heading-l">Linked individual credit note</h2>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__heading-container">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    Individual credit note details
                                </h2>
                                <ul class="nhsuk-card__actions">
                                    <li class="nhsuk-card__action">
                                        <a class="nhsuk-link" href="07b-individual-credit-note">View individual credit note<span
                                                class="nhsuk-u-visually-hidden"> ID 28</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nhsuk-card__content">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Credit note ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            28
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Individual credit note ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            10003842
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row nhsuk-summary-list__row--no-border">
                                        <dt class="nhsuk-summary-list__key">
                                            Individual credit note reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11661234KK001
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** End of history tab *** -->

        </div>
    </div>
</div>
<!-- End of tabs-->

</div>
</div>

{% endblock %}
<!-- End of central content -->