<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claims</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Reply to contestation ID 7441</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Invoices</a>
        </li>
    </ol>
    <a class="nhsuk-back-link" href="#">
        <span class="nhsuk-u-visually-hidden">Back to </span>claims
    </a>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-l">Reply to contestation ID 7441</span>
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Imported individual reply for invoice ID 20001574
        </h1>
    </div>
</div>
<!-- End of header block -->

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Reply to contestation summary
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Claim reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11322249AT2301E
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Contestation reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11441234MM0044
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Reply to contestation reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11661234MM1904
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Total number of replies
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            52
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Total amount withdrawn
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            206.41
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Amount
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            1,945.62
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Currency
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Euro
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of submission
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            14 May 2025
                                        </dd>
                                    </div>

                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Individual reply summary
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Claim reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11322249AT2301E
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Contestation reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11441234MM0044
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Reply to contestation reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            11661234MM1904
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Individual reply to contestation reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            0046993844
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Invoice reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            0039795409
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Invoice ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            20001574
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start creditor expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Creditor details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Creditor institution name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Caisse Primaire D'Assurance Maladie
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Creditor institution ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            0146100000
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end creditor expander -->

                <!-- start debtor expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Debtor details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Debtor institution name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Department of Health and Social Care
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Debtor institution ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            UK033
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end debtor expander -->

                <!-- start person details expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Person details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Jones
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Elizabeth
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name at birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Gilman
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name at birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Elizabeth
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            8 February 1977
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Sex
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            No data
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            PIN in UK
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            JM 76 32 32 A
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            PIN in member state
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">

                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end person details expander -->

            </div>
        </div>
    </div>
</div>





{% endblock %}
<!-- End of central content -->