<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
    name: 'Summary',
    path: '/alpha/version-03/claims/summary/system-processing'
    },
    {
    name: 'Treatment forms',
    path: '/alpha/version-03/claims/treatment-forms/system-processing',
    active: true
    },
    {
    name: 'Documents',
    path: '/alpha/version-03/claims/documents/index'
    },
    {
    name: 'Case history',
    path: '/alpha/version-03/claims/case-history/index'
    }
    ,
    {
    name: 'Notes',
    path: '/alpha/version-03/claims/notes/index'
    }
    ]
    %}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Confirmation - Managing Memeber State claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../index">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <!-- Start of confirmation -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">


                <div class="confirmation-box">
                    <h1 class="heading-xlarge">File submitted
                    </h1>
                    <h2>Your file is being processed</h2>
                    

                </div>
                
               <p>You have successfully submitted the treatment file.</p>
                
                <h2 class="heading-medium">What happens next</h2>

                <p>The system will now start to process the file you've uploaded.</p>

                <p>If there is an issue with the uploaded file, the status will change to 'Upload error'. If this happens, you'll need to try to upload the file again.</p>

                <p>If the file is uploaded successfully, the system will check the treatments and try to match them against a valid entitlement.</p>

                <p>The status of this claim will change to 'Ready to review' when the automatic matching is complete.</p>

                <p>Once the claim is ready for review, you can check any treatments that the system has not been able to match.</p>
                
                <a href="../../../summary/system-processing">
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Return to claim summary
                    </button>
                </a>

            </div>
        </div>
        <!-- End of confirmation -->

  

    </div>
</div>
{% endblock %}
<!-- End of central content -->