<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: ''
},
{
name: 'Invoices',
path: '',
active: true
},
{
name: 'Submissions',
path: '/alpha/version-13/proof-of-concept/submissions/credit-note/rina/01-initial-concept/submissions-list'
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Confirmation - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Invoices</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of confirmation box -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="confirmation-box">
            <h1 class="heading-xlarge"><span id="done-tick"></span>Invoice accepted for France
            </h1>
            <h2 class="heading-large"><span class="heading-secondary" style="color:white;">Invoice ID
                    number<br />
                    20001554
                </span>
            </h2>
        </div>
    </div>
</div>
<!-- End of confirmation box-->

<!-- Start of decision -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-body nhsuk-u-margin-bottom-7">The changes to this invoice have been saved.</p>

        <!-- Start of decision boxes -->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">
                    Decision
                </h2>
                <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-7">
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">
                                    700.00
                                    <span class="nhsuk-u-visually-hidden">Accepted amount</span>
                                </p>Accepted amount

                            </div>
                        </div>
                    </li>
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">
                                    0
                                    <span class="nhsuk-u-visually-hidden">Contested
                                        amount</span>
                                </p>Contested amount

                            </div>
                        </div>
                    </li>
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">
                                    100.00
                                    <span class="nhsuk-u-visually-hidden">Withdrawn
                                        amount</span>
                                </p>Withdrawn amount

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of decision boxes -->

        <!-- Start of what happens next-->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-3">What happens next</h2>
                <p class="nhsuk-body">The status of this invoice is now accepted.</p>
                <p class="nhsuk-body">You can edit this invoice at any time before the outcome has been sent to the
                    claiming
                    country.</p>
                <p class="nhsuk-body nhsuk-u-margin-bottom-7">Once an outcome has been sent, you will not be able to
                    make any
                    more changes.</p>
            </div>
        </div>
        <!-- End of what happens next -->

        <!-- Start of buttons-->
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

                <button style="margin-right:12px;" class="nhsuk-button" data-module="nhsuk-button" type="button">
                    Return to search
                </button>
                <button style="margin-right:12px;" class="nhsuk-button nhsuk-button--secondary"
                    data-module="nhsuk-button" type="button">
                    View invoice
                </button>

            </div>
        </div>
        <!-- End of buttons -->


    </div>
</div>
<!-- End of decision -->

{% endblock %}
<!-- End of central content -->