<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-04/claims/summary/system-processing'
},
{
name: 'Treatment forms',
path: '/alpha/version-04/claims/treatment-forms/system-processing',
active: true
},
{
name: 'Case history',
path: '/alpha/version-04/claims/case-history/index'
},
{
name: 'Notes',
path: '/alpha/version-04/claims/notes/index'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../claims/index">Claims</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../claims/index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-heading-xl ">
                    Treatment forms
                </h1>
            </div>
        </div>

        <div class="nhsuk-grid-row">

            <!-- Start left hand column -->
            <div class="nhsuk-grid-column-fulls">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-heading-m">System processing</h2>
                        <p>Treatments have been added on 11 October 2023 by Isla Fields.</p>
<p>The system is currently processing the treatments.</p>
<p>Once the treatments have been processed you will be able to manage them from this screen.</p>
                    </div>
                </div>
            </div>
            <!-- End left hand column -->



        </div>




















    </div>
</div>
{% endblock %}
<!-- End of central content -->