<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Managing Member State claims
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Overseas Healthcare Services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Manage member state claims</span>
      </h1>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l">Style guide</h2>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Tags
          </dt>
          <dd class="nhsuk-summary-list__value">
            Colours used for tags throughout the service
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="tags">
              View<span class="nhsuk-u-visually-hidden"> tags</span>
            </a>
      
          </dd>
      
        </div>
      


      

      
      </dl>








      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}