<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Manage incoming international healthcare claims
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage incoming international healthcare claims
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Style guide</span>
      </h1>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l">Submission statuses</h2>

      <!-- Start initial claim tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Initial claim
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Not started
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                Submission has been created, no invoices have been added
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--aqua-green">
                  Active
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                One or more invoices have been added
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                  Processed
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                All the invoices have been either accepted or contested and the submission marked as checks completed
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--purple">
                  Reply sent
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The reply (S092) has been created and the sent date has been logged
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Payment updated
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The information on payment (S091) has been created and the sent date has been logged
              </dd>
            </div>

          </dl>
        </div>
      </div>
      <!-- End initial claim tags -->

      <!-- Start credit note tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Credit note
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Not started
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                Submission has been created, no individual credit notes have been added
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  Pending
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                One or more individual credit notes have been added, the submission has not been opened
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--aqua-green">
                  Active
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The submission has been opened, the individual credit notes are being checked
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                  Processed
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                All the individual credit notes have been either accepted or contested and the submission marked as
                checks completed
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Payment updated
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The information on payment (S091) has been created and the sent date has been logged
              </dd>
            </div>

          </dl>
        </div>
      </div>
      <!-- End credit note tags -->

      <!-- Start reply to contestation tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Reply to contestation
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Not started
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                Submission has been created, no invoices have been added
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  Pending
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                One or more invoices have been added, the submission has not been opened
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--aqua-green">
                  Active
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The submission has been opened, the invoices are being checked
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                  Processed
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                All the invoices have been either accepted or contested and the submission marked as
                checks completed
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--purple">
                  Reply sent
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The reply (S092) has been created and the sent date has been logged
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Payment updated
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The information on payment (S091) has been created and the sent date has been logged
              </dd>
            </div>

          </dl>
        </div>
      </div>
      <!-- End reply to contestation tags -->

      <hr />

      <h2 class="nhsuk-heading-l">Individual statuses</h2>

      <!-- Start invoice tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Invoice
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--blue">
                  To check
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The invoices is waiting for manual checking
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Accepted
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The invoice has been accepted
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--red">
                  Contested
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The invoice has been contested
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--pink">
                  Partial
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The invoice has been partially accepted
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--purple">
                  Withdrawn
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The invoice has been withdrawn
              </dd>
            </div>

          </dl>
        </div>
      </div>
      <!-- End invoice tags -->

      <!-- Start individual credit note tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Individual credit note
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  Pending
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The credit note has not been opened
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--blue">
                  To check
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The individual credit note is waiting for manual checking
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Accepted
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The individual credit note has been accepted
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--red">
                  Contested
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The individual credit note has been contested
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--pink">
                  Partial
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The individual credit note has been partially accepted
              </dd>
            </div>

          </dl>
        </div>
      </div>
      <!-- End individual credit note tags -->


      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}