<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Managing Member State claims
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage member state claims
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Style guide</span>
      </h1>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l">Tags</h2>

      <!-- Start claim tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Claim
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  Not started
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                Claim has been created, no invoices have been added
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--purple">
                  Active
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                Claim has been created, invoices have been added
              </dd>
            </div>

          </dl>

        </div>
      </div>
      <!-- End claims tags -->

      <!-- Start invoice tags -->
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Invoice
          </h3>
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--yellow">
                  To check
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
                The system couln't auto validate the invoice so it needs manually checking
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--green">
                  Accepted
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--red">
                  Contested
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--blue">
                  Partial
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  Withdrawn
                </strong>
              </dt>
              <dd class="nhsuk-summary-list__value">
              </dd>
            </div>

          </dl>

        </div>
      </div>
      <!-- End invoice tags -->


      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}