<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: ''
},
{
name: 'Invoices',
path: ''
},
{
name: 'Submissions',
path: '/alpha/version-16/claims/rina/actual-cost/6784-france/submissions/03-letters-sent',
active: true
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Check credit note details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../../home">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../index">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../03-letters-sent">Submissions</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}


{% block content %}

<!-- Start of cya -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <!-- Start of form -->
        <form action="04b-confirmation-credit-note" method="post">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                <h1 class="nhsuk-fieldset__heading">
                    <span class="nhsuk-caption-l">Add a new submission</span>
                    Check credit note details
                </h1>
            </legend>

            <!-- Start of card -->
            <div class="nhsuk-card nhsuk-u-margin-bottom-3">
                <div class="nhsuk-card__content">
                    <dl class="nhsuk-summary-list">

                        <!-- Credit note reference -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Credit note reference
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                11661234KK1905
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> credit note reference</span>
                                </a>
                            </dd>
                        </div>

                        <!-- Total number of credit notes -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Total number of individual credit notes
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                1
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> total number of individual credit notes</span>
                                </a>
                            </dd>
                        </div>

                        <!-- Total amount of credit notes -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Total amount of individual credit notes
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                1,438.44
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> total amount of individual credit notes</span>
                                </a>
                            </dd>
                        </div>

                        <!-- Currency -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Currency
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Euro
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> currency</span>
                                </a>
                            </dd>
                        </div>

                        <!-- Date received -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Date you received the credit note
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                6 March 2025 
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> date you reveived the
                                        credit note</span>
                                </a>
                            </dd>
                        </div>

                        <!-- Target date -->
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Target date to complete the credit note
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                1 September 2025
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> target date to complete the
                                        credit note</span>
                                </a>
                            </dd>
                        </div>

                    </dl>
        
                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                            Submit
                        </button>
          
                </div>
            </div>
            <!-- End of card -->

        </form>
        <!-- End of form -->

        <a href="#" class="nhsuk-link">Cancel</a>
    </div>
</div>
<!-- End of cya -->

{% endblock %}