<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/summary/active-invoices-uploaded'
},
{
name: 'Invoices',
path: ''
},
{
name: 'Contestations',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/contestations/not-started'
},
{
name: 'Notes',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/notes/index',
active: true
},
{
name: 'History',
path: '/alpha/version-09/claims/rina/actual-cost/6752-lithuania/history/timeline-active'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of claim details -->
{% block ClaimId %}
6752
{% endblock %}
{% block submittingCountry %}
Lithuania
{% endblock %}
<!-- End of claim details-->

<!-- Start of page title -->
{% block pageTitle %}
Contestations - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../../home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../../index">Claims</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="../../../../index">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Claims
      </a>
    </p>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of header -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl ">
      Notes
    </h1>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <a href="create-new">
      <button style="float:right;" class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Add a new note
      </button>
    </a>
  </div>
</div>
<!-- End of header-->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% if data['note'] %}

    <details class="nhsuk-details nhsuk-expander" open>
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          {{ data['title'] }}
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <h4 class="nhsuk-heading-xs">17 January 2024, 12.43pm</h4>
        <p class="nhsuk-body">{{ data['note'] }}</p>
        <p class="nhsuk-body">Author: Isla Fields</p>




      </div>
    </details>



    {% else %}
    <p class="nhsuk-body">There are currently no notes.</p>
    {% endif %}






  </div>
</div>

<!-- Start of note -->
<!-- <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <details class="nhsuk-details nhsuk-expander" open>
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Lorem ipsum dolor sit amet.
                </span>
            </summary>
            <div class="nhsuk-details__text">

<h4 class="nhsuk-heading-xs">17 January 2024, 12.43pm</h4>
<p class="nhsuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue erat id sagittis vehicula. Nullam eu lorem sem. Cras eget iaculis est. Aliquam finibus enim in lacus elementum sagittis. Nunc iaculis odio ac purus dapibus, eget suscipit urna ornare. Curabitur aliquam lectus vel dui mattis fermentum. Aenean ut tincidunt quam. Proin eget commodo arcu, vitae commodo lorem. Duis porta ex sapien, ac placerat lectus imperdiet id. In malesuada egestas nibh ac viverra. In faucibus leo in nisl ornare, a ultrices felis consequat. Mauris fringilla nisl eget ullamcorper porttitor. In egestas, erat vel eleifend ornare, erat dui ornare leo, vitae egestas.</p>
<p class="nhsuk-body">Author: Isla Fields</p>




            </div>
        </details>

    </div>
  </div> -->
<!-- End of note-->







{% endblock %}
<!-- End of central content -->