<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
    {
    name: 'Summary',
    path: '/alpha/version-01/claims/screen-per-question/with-navigation/summary/no-treatments'
    },
    {
    name: 'Treatment forms',
    path: '/alpha/version-01/claims/screen-per-question/with-navigation/treatment-forms/no-treatments',
    active: true
    },
    {
    name: 'Documents',
    path: ''
    },
    {
    name: 'Case history',
    path: '#'
    }
    ]
    %}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Managing Member State claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Claims</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="#">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claime
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-grid-row">

                        <div class="nhsuk-grid-column-full">
                            <h1 class="nhsuk-heading-xl ">
                                Treatment forms
                            </h1>
                        </div>
                    </div>


                    <div class="nhsuk-grid-row">

                        <div class="nhsuk-grid-column-full">

                            <div class="nhsuk-card">
                                <div class="nhsuk-card__content">
                                    <h3 class="nhsuk-card__heading">
                                        There are currently no treatments addded to this claim

                                    </h3>
                                    <hr style="margin:-6px 0px 12px 0px;" />



                                        <div class="nhsuk-grid-row">

                                          <div class="nhsuk-grid-column-full">
                                            <a href="upload/data-source">
                                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                                          Add treatments
                                        </button>
                                    </a>
                                        </div>
                                        </div>




                              
                                </div>
                            </div>

                        </div>
                    </div>


        



    </div>
</div>
{% endblock %}
<!-- End of central content -->