<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Home',
path: '/alpha/accessibility-testing/may-2025/home',
active: true
},
{
name: 'Claims',
path: '/alpha/accessibility-testing/may-2025/claims/index'
},
{
name: 'Reports',
path: '#'
}
]
%}

<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}

<!-- Start of page title -->
{% block pageTitle %}
Home - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <span class="nhsuk-caption-s nhsuk-caption--bottom">Last logged in: 19 November 2024</span>
  </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of title block -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl ">
      Welcome Isla Fields
    </h1>
  </div>
</div>
<!-- End of title block-->

<!-- Start of 2 column layout -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <!-- Start quick actions -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-l">
          Quick actions
        </h2>
        <hr style="margin:0px 0px 24px 0px;">
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="claims/create/index">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Create a new claim</span>
          </a>
        </div>
      </div>
    </div>
    <!-- End quick actions -->
  </div>
</div>
<!-- End of 2 column layout-->



<!-- End of main content -->


{% endblock %}
<!-- End of central content -->