<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claims</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="">Claim outcomes</a>
        </li>
    </ol>
    <a class="nhsuk-back-link" href="#">
        <span class="nhsuk-u-visually-hidden">Back to </span>claims
    </a>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start of title block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-l">Add a new outcome</span>
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">Check your selected outcome</h1>
    </div>
</div>
<!-- End of title block -->

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card nhsuk-u-margin-bottom-4">
            <div class="nhsuk-card__content">
                <form action="03a-confirmation-rina" method="post">

                    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-8">
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Which type of outcome would you like to add?
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Contestation
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="">
                                    Change<span class="nhsuk-u-visually-hidden"> decision</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                    <h2 class="nhsuk-heading-s">More than one submission included</h2>
                    <p class="nhsuk-body">More than one submission will be included in this outcome.</p>
                    <p class="nhsuk-body">On the 'Submissions needing outcomes' tab, these submissions will show as 'In
                        progress'.</p>
                    <button class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <p class="nhsuk-body"><a href="cancel-confirmation">Cancel</a></p>
    </div>
</div>

{% endblock %}