<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Reply to contestation details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__list-item">
                <a class="nhsuk-breadcrumb__link" href="../../../../../../../home">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__list-item">
                <a class="nhsuk-breadcrumb__link" href="../../../../../../index">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__list-item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__list-item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
        </ol>
    <a class="nhsuk-back-link" href="#">
        <span class="nhsuk-u-visually-hidden">Back to </span>claims
    </a>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<!-- Start of title block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">Claim ID 6784 &ndash; France</span>
            Reply to contestation - reply
        </h1>
    </div>
</div>
<!-- End of title block -->

<!-- Start of data capture -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card nhsuk-u-margin-bottom-3">
            <div class="nhsuk-card__content">
                <p class="nhsuk-body">Flow to be discussed, functionality includes:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Generate version-17</li>
                    <li>Download reply</li>
                    <li>Document sent date</li>
                    <li>Document received date (non RINA)</li>
                </ul>
                <a href="05-reply-sent">
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Continue
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End of data capture -->

{% endblock %}