<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Overseas Healthcare Services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Member State Claims
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Discovery</span>
      </h1>

      <!-- Add your content here -->

      <!-- start sign in -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Sign in screen
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li><a href="discovery/sign-in/version-01">Version 1 - 2 column layout</a> </li>
            <li><a href="discovery/sign-in/version-02">Version 2 - Vertical layout</a></li>
          </ul>
        </div>
      </details>
      <!-- end sign in -->

      <!-- start dashboard -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Dashboard
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li><a href="discovery/dashboard/version-01">Version 1 - central layout, no left nav, advanced search goes to new screen </a> </li>
            <li><a href="discovery/dashboard/version-02">Version 2 - full width, left nav, advanced search goes to new screen</a></li>
            <li><a href="discovery/dashboard/version-03">Version 3 - full width, left nav, advanced search expander, no border around search, right side panels</a></li>
            <li><a href="discovery/dashboard/version-04">Version 4 - central layout, no left nav, advanced search expander, card details in table format</a></li>
            <li><a href="discovery/dashboard/version-05">Version 5 - full width, left nav, advanced search expander, no border around search, right side panels in table format</a></li>
          </ul>
        </div>
      </details>
      <!-- end dashboard -->

            <!-- start claims -->
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Claims
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul>
                  <li><a href="discovery/claims/version-01">Version 1 - full width (with nav)</a> </li>
                  <li><a href="discovery/claims/version-02">Version 2 - full width (with nav)</a> </li>
                </ul>
              </div>
            </details>
            <!-- end claims -->



      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}