<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Overseas Healthcare Services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Member State Claims
       
      </h1>

      <!-- Add your content here -->

<!-- start of discovery -->
      <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      Discovery (March 2023 - May 2023)

    </h3>
     <!-- start sign in -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Sign in screen
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Aims:</h4>
          <ul>
            <li>Allow existing users to login</li>
            <li>Give a summary of what the service offers?</li>
            <li>Allow existing users to change username?</li>
            <li>Allow existing users to change password?</li>
            <li>Allow new users to register for an account?</li>
          </ul>
          <h4>Prototypes:</h4>
          <ul>
            <li><a href="discovery/sign-in/version-01">Version 1</a><br />2 column horizontal layout</li>
            <li><a href="discovery/sign-in/version-02">Version 2</a><br />Vertical layout</li>
          </ul>
        </div>
      </details>
      <!-- end sign in -->

      <!-- start dashboard -->
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Dashboard
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Aims:</h4>
          <ul>
            <li>Provide users quick and efficient access to most commonly used tasks</li>
            <li>Provide users access to secondary tasks</li>
            <li>Provide a personalised experience</li>
            <li>Have an easy to use search facility</li>
          </ul>
          <h4>Prototypes:</h4>
          <ul>
            <li><a href="discovery/dashboard/version-01">Version 1</a><br />Central layout, no left nav, advanced search opens on new screen</li>
            <li><a href="discovery/dashboard/version-02">Version 2</a><br />Full width, left nav, advanced search opens on new screen, breadcrumb</li>
            <li><a href="discovery/dashboard/version-03">Version 3</a><br />Full width, left nav, advanced search opens in expander, no border around search, right side panels in list format, breadcrumb</li>
            <li><a href="discovery/dashboard/version-04">Version 4</a><br />Central layout, no left nav, advanced search opens in expander, card details in table format</li>
            <li><a href="discovery/dashboard/version-05">Version 5</a><br />Full width, left nav, advanced search opens in expander, no border around search, right side panels in table format, breadcrumb</li>
            <li><a href="discovery/dashboard/version-06">Version 6</a><br />Claims first</li>
          </ul>
        </div>
      </details>
      <!-- end dashboard -->

                  <!-- start search -->
                  <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        Search
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      <h4>Aims</h4>
                      <ul>
                        <li>Provide an easy to use search facility for claims</li>
                        <li>Provide an easy to use search facility for resubmissions</li>
                        <li>Provide an easy to use search facility for people</li>
                      </ul>
                      <h4>Prototypes:</h4>
                      <ul>
                        <li><a href="discovery/search/version-01">Version 1 (Claim)</a><br />Search results appear below</li>

                      </ul>
                    </div>
                  </details>
                  <!-- end search -->

            <!-- start claims -->
            <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Claims
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <h4>Aims</h4>
                <ul>
                  <li>Provide an easy to use search facility for existing claims</li>
                  <li>Allow user to create a new claims</li>
                  <li>Allow users to see recently worked on claims</li>
                </ul>
                <h4>Prototypes:</h4>
                <ul>
                  <li><a href="discovery/claims/version-01">Version 1</a><br />Full width, left nav, vertical layout, advanced search opens in expander, border around search</li>
                  <li><a href="discovery/claims/version-02">Version 2</a><br />Full width, left nav, vertical layout, advanced search opens in expander, no border around search</li>
                  <li><a href="discovery/claims/version-03">Version 3</a><br />Full width, left nav, 2 column layout</li>
                </ul>
              </div>
            </details>
            <!-- end claims -->

  </div>
</div>
<!-- end of discovery -->




     



      <!-- End of content -->

    </div>
  </div>
</div>
{% endblock %}