<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Reply to contestation ID 7766</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start of title block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">Add invoices to reply to contestation</span>
            Check selected invoices
        </h1>
    </div>
    <div class="nhsuk-grid-column-one-half" style="text-align:right;">
        <a href="#" class="nhsuk-button nhsuk-button--secondary" role="button" data-module="nhsuk-button">Select more
            invoices</a>
        <a href="06-confirmation-actual" class="nhsuk-button" role="button" data-module="nhsuk-button">Confirm selected
            invoices</a>
    </div>
</div>
<!-- End of title block -->

<!-- Start invoice stats -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">6 <span
                                class="nhsuk-u-visually-hidden">Total invoices</span></p>Total invoices
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">620.97 <span
                                class="nhsuk-u-visually-hidden">Total amount (cost)</span></p>Total amount (cost)
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- End invoice stats -->

<!-- Start selected invoices -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content ">

                <!-- Start header block-->
                <div class="nhsuk-grid-row nhsuk-u-padding-bottom-0">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Showing 1 to 6 of 6 selected invoices</h3>
                    </div>
                    <div class="nhsuk-grid-column-one-third">
                        <div class="nhsuk-form-group nhsuk-u-margin-bottom-0" style="float:right;">
                            <label class="nhsuk-label" for="results">
                                Results per page
                            </label>
                            <select class="nhsuk-select" id="results" name="results" style="float:right;">
                                <option value="10" selected="">10</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- End header block -->

                <!-- Start of filter and sort options -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-u-margin-bottom-5">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Sort options
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <div class="nhsuk-grid-row">
                                    <!-- Start sort by -->
                                    <div class="nhsuk-grid-column-one-quarter">
                                        <div class="nhsuk-form-group nhsuk-u-padding-bottom-5">
                                            <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                                    <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                                        Sort by
                                                    </h1>
                                                </legend>
                                                <div class="nhsuk-radios">
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-added"
                                                            name="sort-by" type="radio" value="id" checked="checked">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-added">
                                                            As added
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-id"
                                                            name="sort-by" type="radio" value="id">
                                                        <label class="nhsuk-label nhsuk-radios__label" for="sort-by-id">
                                                            Invoice ID
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-ref"
                                                            name="sort-by" type="radio" value="ref">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-ref">
                                                            Invoice reference
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-last-name"
                                                            name="sort-by" type="radio" value="last-name">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-last-name">
                                                            Last name
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-first-name"
                                                            name="sort-by" type="radio" value="first-name">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-first-name">
                                                            First name
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="sort-by-dob"
                                                            name="sort-by" type="radio" value="fdob">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="sort-by-first-dob">
                                                            Date of birth
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- End sort by -->

                                    <!-- Start sort order -->
                                    <div class="nhsuk-grid-column-one-quarter">
                                        <div class="nhsuk-form-group">
                                            <fieldset class="nhsuk-fieldset">
                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xs">
                                                    <h1 class="nhsuk-fieldset__heading nhsuk-u-font-weight-bold">
                                                        Order results
                                                    </h1>
                                                </legend>
                                                <div class="nhsuk-radios">
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="order-by-asc"
                                                            name="order-by" type="radio" value="ascending"
                                                            checked="checked">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="order-by-asc">
                                                            Ascending
                                                        </label>
                                                    </div>
                                                    <div class="nhsuk-radios__item">
                                                        <input class="nhsuk-radios__input" id="order-by-desc"
                                                            name="order-by" type="radio" value="descending">
                                                        <label class="nhsuk-label nhsuk-radios__label"
                                                            for="order-by-desc">
                                                            Descending
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- End sort order -->
                                    <div class="nhsuk-grid-column-full">
                                        <a href="#" class="nhsuk-button nhsuk-button--secondary" role="button"
                                            data-module="nhsuk-button">Apply filters</a>
                                        <p class="nhsuk-u-margin-bottom-0"><a href="">Reset all filters</a></p>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- End of filter and sort options -->


                <!-- Start of table data -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">

                        <table role="table" class="nhsuk-table-responsive">
                            <!-- <caption class="nhsuk-table__caption">Showing results for: All treatments</caption>  -->
                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        Invoice ID
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Invoice reference
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Last name
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        First name
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Date of birth
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Amount
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Status
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001570
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26585618
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Haynes
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Phoebe
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>12 Dec 1982
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>50.78
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001427
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26596541
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Hodgkinson
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Quentin
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>26 Oct 1980
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>33.67
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a
                                            href="05b-check-selected-removed-actual">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001419
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26533102
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Richardson
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Margaret
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>12 Jan 1977
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>365.84
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001576
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26685679
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Hogarth
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Billy
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>12 Jul 1983
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>100.53
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001452
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26685428
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Hogarth
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Billy
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>29 Aug 1978
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>40.55
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice ID </span>20001448
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Invoice reference
                                        </span>26685424
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Last name </span>Hogarth
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">First name</span>Billy
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Date of birth</span>1 Feb 1973
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Amount</span>29.60
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">Status </span>Contested
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                        <span class="nhsuk-table-responsive__heading">View </span><a href="#">Remove
                                            invoice</a><a>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End of table data -->
                <!-- End selected invoices -->
            </div>
        </div>
    </div>
</div>


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <p class="nhsuk-body"><a href="#" class="nhsuk-link">Cancel</a></p>
    </div>
</div>

{% endblock %}