<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
    In /views/layout.html you can:
      - change the header and footer 
      - add custom CSS and JavaScript
  -->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claims</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Claim ID 6784</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Submissions</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="">Reply to contestation ID 7766</a>
            </li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %} {% block content %}

<!-- Start of panel -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-panel" style="background-color: #005EB8; text-align: center;">
            <h1 class="nhsuk-panel__title">
                Invoices added to reply to contestation ID 7766
            </h1>
        </div>
    </div>
</div>
<!-- End of panel -->

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <p>You've successfully added invoices to reply to contestation ID 7766 for France.</p>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">6 <span
                                class="nhsuk-u-visually-hidden">Total invoices</span></p>Total invoices
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <p class="nhsuk-heading-xl nhsuk-u-font-size-54 nhsuk-u-margin-bottom-1">620.97 <span
                                class="nhsuk-u-visually-hidden">Total amount</span></p>Total amount
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h2 class="heading-medium">What happens next</h2>
        <p class="nhsuk-body">You can continue to add and remove invoices.</p>
        <p class="nhsuk-body">Once you've added the invoices you need, you can open the reply to contestation.</p>
        <p class="nhsuk-body">After it's open, you can still add more invoices if you need to.</p>
        <a href="#" class="nhsuk-button" role="button" data-module="nhsuk-button">Return to reply to contestation</a>
    </div>
</div>

{% endblock %}