<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-full-width-logged-in.html -->
{% extends 'layout-full-width-logged-in.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="#">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                claims </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-back-link" href="javascript:history.back()">Go back</a>
    </div>
</div>
<!-- End back link -->

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <form action="../../../route-create-contact" method="post">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                        <h1 class="nhsuk-fieldset__heading">
                            <span class="nhsuk-caption-l">Create a new claim</span>
                            How did the country contact you about the claim?
                        </h1>
                    </legend>
                    <div class="nhsuk-card nhsuk-u-margin-bottom-3">
                        <div class="nhsuk-card__content">
                            <div class="nhsuk-radios nhsuk-u-margin-bottom-5">
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="received-rina" name="received" type="radio"
                                        value="RINA">
                                    <label class="nhsuk-label nhsuk-radios__label" for="received-rina">
                                        RINA
                                    </label>
                                </div>
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="received-paper" name="received" type="radio"
                                        value="Paper">
                                    <label class="nhsuk-label nhsuk-radios__label" for="received-paper">
                                        Paper
                                    </label>
                                </div>
                            </div>
                            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                                Continue
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock %}
<!-- End of central content -->