<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Home',
path: '/alpha/version-07/home'
},
{
name: 'Claims',
path: '/alpha/version-07/claims/index',
active: true
},
{
name: 'Contested claims',
path: '#'
},
{
name: 'Reports',
path: '#'
}
]
%}

<!-- Extends the layout from /views/layout-full-width.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Start of page title -->
{% block pageTitle %}
Check claim details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Claims
                </a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of cya -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <!-- Start of form -->
        <form action="confirmation" method="post">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                <h1 class="nhsuk-fieldset__heading">
                    <span class="nhsuk-caption-l">Create a new claim</span>
                    Check claim details
                </h1>
            </legend>

            <!-- Start of card -->
            <div class="nhsuk-card nhsuk-u-margin-bottom-3">
                <div class="nhsuk-card__content">
                    <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Date you received the claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% set elaine = "Foo" %}
                                {% if data['submission-date-day'] %}{{ data['submission-date-day'] }} {%
                                else
                                %}10 {% endif %}{% if data['submission-date-month'] %}{{ fullSubmissionMonth }} {% else %}August {% endif %}{% if
                                data['submission-date-year'] %}{{ data['submission-date-year'] }}{% else
                                %}2023{% endif %}
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="index#submission-date-day">
                                    Change<span class="nhsuk-u-visually-hidden"> submission
                                        date</span>
                                </a>

                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Target date to complete the claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['target-date-day'] %}{{ data['target-date-day'] }} {% else
                                %}9 {%
                                endif %} {% if data['target-date-month'] %}{{ fullTargetMonth }}{% else %}February {% endif %} {% if data['target-date-year'] %}{{
                                data['target-date-year']
                                }}{% else %}2024{% endif %}
                            </dd>

                            <dd class="nhsuk-summary-list__actions">

                                <a href="index#target-date-day">
                                    Change<span class="nhsuk-u-visually-hidden"> target date to complete claim</span>
                                </a>

                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Country submitting the claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['country'] %}
                                {{ data['country'] }}
                                {% else %}
                                France
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#country">
                                    Change<span class="nhsuk-u-visually-hidden"> country</span>
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Claim reference
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['ref'] %}
                                {{ data['ref'] }}
                                {% else %}
                                0039795410
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#ref">
                                    Change<span class="nhsuk-u-visually-hidden"> reference</span>
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Financial year of the claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['financial-year'] %}
                                {{ data['financial-year'] }}
                                {% else %}
                                2023
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#financial-year">
                                    Change<span class="nhsuk-u-visually-hidden"> financial
                                        year</span>
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Article covering the claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['article'] %}
                                {{ data['article'] }}
                                {% else %}
                                Actual cost
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#article-actual">
                                    Change<span class="nhsuk-u-visually-hidden"> article type</span>
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Type of claim
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['type'] %}
                                {{ data['type'] }}
                                {% else %}
                                Main
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#type-main">
                                    Change<span class="nhsuk-u-visually-hidden"> claim type</span>
                                </a>
                            </dd>
                        </div>

                        {% if data['type'] %}
                        {% if data['type'] === 'Supplementary' %}
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Claim sub-reference (optional)
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if data['subref'] %}
                                {{ data['subref'] }}
                                {% else %}
                                -
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="index#subref">
                                    Change<span class="nhsuk-u-visually-hidden"> claim sub
                                        reference</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                        {% endif %}


                    </dl>
                    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                        Submit
                    </button>
                </div>
            </div>
            <!-- End of card -->

        </form>
        <!-- End of form -->

        <a href="cancel-confirmation" class="nhsuk-link">Cancel</a>
    </div>
</div>
<!-- End of cya -->

{% endblock %}
<!-- End of central content -->