<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-07/claims/summary/invoices-uploaded'
},
{
name: 'Invoices',
path: '/alpha/version-07/claims/invoices/full-invoice-list',
active: true
},
{
name: 'Uploaded files',
path: '/alpha/version-07/claims/invoices/index'
},
{
name: 'History',
path: '/alpha/version-07/claims/history/invoices-uploaded'
}
]
%}
<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-claim.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice reference: 0039795410 - Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../index">Claims</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}

<!-- Start of central content -->
{% block content %}

<!-- Start of back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="../../full-invoice-list">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                View full invoice list</a>
        </div>
    </div>
</div>
<!-- End of back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-9">
            Invoice details
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">Invoice reference: 0039795410</span>
        </h1>
    </div>
</div>
<!-- End of header block -->

<!-- Start of tabs-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">
                Contents
            </h2>

            <ul class="nhsuk-tabs__list">
                <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                    <a class="nhsuk-tabs__tab" href="#summary">
                        Summary
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#notes">
                        Notes
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#history">
                        History
                    </a>
                </li>
                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#import">
                        Imported invoice
                    </a>
                </li>
            </ul>

            <!-- *** Start of summary tab *** -->
            <div class="nhsuk-tabs__panel" id="summary">

                <!-- Start of summary title block -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h2 class="nhsuk-heading-l">Summary</h2>
                    </div>
                    <div class="nhsuk-grid-column-one-third">
                        <strong class="nhsuk-tag nhsuk-tag--green" style="float:right">
                            Accepted
                        </strong>
                    </div>
                </div>
                <!-- End of summary title block -->

                                <!-- Start of status -->
                                <div class="nhsuk-grid-row">
                                    <div class="nhsuk-grid-column-full">
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content nhsuk-u-padding-bottom-0">
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-two-thirds">
                                                        <h3 class="nhsuk-card__heading">
                                                            Status
                                                        </h3>
                                                    </div>
                                                </div>
                                                <hr style="margin:0px 0px 30px 0px;">
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-full">
                
                                                        <ul class="nhsuk-grid-row nhsuk-card-group">
                
                                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                                <div class="nhsuk-card">
                                                                    <div class="nhsuk-card__content">
                                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">2134.75 <span
                                                                                class="nhsuk-u-visually-hidden">Accepted</span></p>
                                                                        Accepted
                                                                    </div>
                                                                </div>
                                                            </li>
                
                                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                                <div class="nhsuk-card">
                                                                    <div class="nhsuk-card__content">
                                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">0 <span
                                                                                class="nhsuk-u-visually-hidden">Withdrawn</span></p>
                                                                        Withdrawn
                                                                    </div>
                                                                </div>
                                                            </li>
                
                                                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                                                <div class="nhsuk-card">
                                                                    <div class="nhsuk-card__content">
                                                                        <p class="nhsuk-heading-l nhsuk-u-margin-bottom-1">0 <span
                                                                                class="nhsuk-u-visually-hidden">Contested</span></p>
                                                                        Contested
                                                                    </div>
                                                                </div>
                                                            </li>
                
                                                        </ul>
                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of status -->




                <!-- Start of treatment and entitlement details -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <ul class="nhsuk-grid-row nhsuk-card-group">

                            <!-- Start of treatment details -->
                            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                                <div class="nhsuk-card">
                                    <div class="nhsuk-card__content nhsuk-card__content--primary">
                                        <h3 class="nhsuk-card__heading nhsuk-heading-m">
                                            Treatment details
                                        </h3>
                                        <hr style="margin:0px 0px 12px 0px;">
                                        <dl class="nhsuk-summary-list">


                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Total amount
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    2134.75
                                                </dd>

                                            </div>


                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Start date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    1 June 2023
                                                </dd>

                                            </div>

                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    End date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    2 June 2023
                                                </dd>

                                            </div>


                                        </dl>



                                    </div>
                                </div>
                            </li>
                            <!-- End of treatment details-->

                            <!-- Start of entitlement details-->
                            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                                <div class="nhsuk-card ">
                                    <div class="nhsuk-card__content nhsuk-card__content--primary">
                                        <h3 class="nhsuk-card__heading nhsuk-heading-m">
                                            Entitlement details
                                        </h3>
                                        <hr style="margin:0px 0px 12px 0px;">
                                        <dl class="nhsuk-summary-list">
                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Type
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    S1
                                                </dd>
                                            </div>

                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Start date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    1 January 2023
                                                </dd>
                                            </div>

                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    End date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    1 December 2023
                                                </dd>
                                            </div>

                                            <div class="nhsuk-summary-list__row">
                                                <dt class="nhsuk-summary-list__key">
                                                    Issue date
                                                </dt>
                                                <dd class="nhsuk-summary-list__value">
                                                    1 January 2023
                                                </dd>
                                            </div>


                                        </dl>



                                    </div>
                                </div>

                            </li>
                            <!-- End of entitlement details-->

                        </ul>
                    </div>
                </div>
                <!-- End of claim and entitlement details -->

                                <!-- Start person details -->
                                <div class="nhsuk-grid-row" id="person-details">
                                    <div class="nhsuk-grid-column-full">
                
                                        <!-- Start card -->
                                        <div class="nhsuk-card">
                                            <div class="nhsuk-card__content">
                
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-full">
                                                        <h3 class="nhsuk-card__heading">
                                                            Person details
                                                        </h3>
                                                        <hr style="margin:0px 0px 12px 0px;">
                                                    </div>
                                                </div>
                
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-one-half">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Last name
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    Pearce
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    First name
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    Sean
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                
                                                    <div class="nhsuk-grid-column-one-half">
                                                        <dl class="nhsuk-summary-list">
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Date of birth
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    8 August 1952
                                                                </dd>
                                                            </div>
                                                            <div class="nhsuk-summary-list__row">
                                                                <dt class="nhsuk-summary-list__key">
                                                                    Unique ID
                                                                </dt>
                                                                <dd class="nhsuk-summary-list__value">
                                                                    QQ 23 34 54 C
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </div>
                
                                                <div class="nhsuk-action-link">
                                                    <a class="nhsuk-action-link__link" href="#">
                                                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                                            width="36" height="36">
                                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                                            <path
                                                                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                                            </path>
                                                        </svg>
                                                        <span class="nhsuk-action-link__text">View person record</span>
                                                    </a>
                                                </div>
                
                                            </div>
                                        </div>
                                        <!-- End card -->
                
                                    </div>
                                </div>
                                <!-- End person details -->






            </div>
            <!-- *** End of summary tab *** -->


            <!-- *** Start of notes tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="notes">
                <h2 class="nhsuk-heading-l">Notes</h2>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content" style="padding-top:12px;">

                                <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-6">
                                    <!-- <caption class="nhsuk-table__caption">Notes</caption> -->

                                    <thead role="rowgroup" class="nhsuk-table__head">

                                        <tr role="row">
                                            <th role="columnheader" class="" scope="col">
                                                Date
                                            </th>
                                            <th role="columnheader" class="" scope="col">
                                                Author
                                            </th>
                                            <th role="columnheader" class="" scope="col">
                                                Note
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">



                                    </tbody>
                                </table>
                                <p>There are currently no notes.</p>


                            </div>
                        </div>
                    </div>



                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">

                                <h3 class="nhsuk-card__heading">
                                    Add a new note
                                </h3>
                                <hr style="margin:0px 0px 12px 0px;">


                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="example">
                                        Note </label>

                                    <textarea class="nhsuk-textarea" id="example" name="example" rows="3"
                                        aria-describedby="example-hint"></textarea>
                                </div>
                                <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button"
                                    type="submit">
                                    Save note
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** End of notes tab *** -->


            <!-- *** Start of history tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="history">

                <h2 class="nhsuk-heading-l">History</h2>

                <!-- Start of invoice history -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">


                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content" style="padding-top:12px;">

                                <table role="table" class="nhsuk-table-responsive nhsuk-u-padding-bottom-6">
                                    <!-- <caption class="nhsuk-table__caption">Invoice history</caption> -->
                                    <thead role="rowgroup" class="nhsuk-table__head">
                                        <tr role="row">
                                            <th role="columnheader" class="" scope="col">
                                                Date
                                            </th>
                                            <th role="columnheader" class="" scope="col">
                                                Editor
                                            </th>
                                            <th role="columnheader" class="" scope="col">
                                                Action
                                            </th>
                                            <th role="columnheader" class="" scope="col">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="nhsuk-table__body">
                                        <tr role="row" class="nhsuk-table__row">
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Date </span>1 Dec 2023
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Editor </span>System
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Action </span>Auto
                                                validation
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Status </span>Accepted
                                            </td>
                                        </tr>
                                        <tr role="row" class="nhsuk-table__row">
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Date </span>1 Dec 2023
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Editor </span>Isla Fields
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Action </span>Invoice
                                                added to claim
                                            </td>
                                            <td role="cell" class="nhsuk-table__cell">
                                                <span class="nhsuk-table-responsive__heading">Status </span>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>




                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of invoice history -->

            </div>
            <!-- *** End of history tab *** -->

            <!-- *** Start of imported invoice tab *** -->
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="import">

                <h2 class="nhsuk-heading-l">Imported invoice</h2>

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander" open>
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Summary
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Claim reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            {% if data['ref'] %}
                                            {{ data['ref'] }}
                                            {% else %}
                                            0039795410
                                            {% endif %}
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Claim recorded date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            2 June 2023
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Invoice reference
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            0039795410
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start institution expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Institution details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Creditor institution ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            2100
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Creditor institution name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Direccion Provincial Del Inss De Hu Elva
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Debtor institution ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            UK033
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Debtor institution name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Department of Health and Social Care
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Person details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Last name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Pearce
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            First name
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            Sean
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Date of birth
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            8 August 1952
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Sex
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Unique ID
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            QQ 23 34 C
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Entitlement details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Type
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            S1
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            1 January 2023
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            End date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            1 December 2023
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Issue date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            1 January 2023
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Treatment details
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Total amount
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            2134.75
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Currency code
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Provided benefits
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            1 June 2023
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            End date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            2 June 2023
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->

                <!-- start expander -->
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    Costs breakdown
                                </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <dl class="nhsuk-summary-list">
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Medical care costs
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            2000
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Medicine costs
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            134.75
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Hospitalisation costs
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Hospitalisation start date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                    <div class="nhsuk-summary-list__row">
                                        <dt class="nhsuk-summary-list__key">
                                            Hospitalisation end date
                                        </dt>
                                        <dd class="nhsuk-summary-list__value">
                                            -
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!-- end expander -->















            </div>
            <!-- *** End of imported invoice tab *** -->


        </div>
    </div>
</div>
<!-- End of tabs-->





</div>
</div>












{% endblock %}
<!-- End of central content -->