<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->



{% set mainNavigation = [
{
name: 'Summary',
path: '/alpha/version-10/claims/rina/actual-cost/6784-france/summary/active-invoices-uploaded'
},
{
name: 'Invoices',
path: '/alpha/version-10/claims/rina/actual-cost/6784-france/invoices/full-invoice-list',
active: true
},
{
name: 'Contestations',
path: ''
},
{
name: 'Notes',
path: ''
},
{
name: 'History',
path: ''
}
]
%}

<!-- Extends the layout from /views/layout-full-width-claim.html -->
{% extends 'layout-full-width-invoice-poc.html' %}
<!-- 
      In /views/layout.html you can:
        - change the header and footer 
        - add custom CSS and JavaScript
    -->

<!-- Start of page title -->
{% block pageTitle %}
Invoice details - Manage incoming international healthcare claims - NHSBSA
{% endblock %}
<!-- End of page title -->

{% block beforeContent %}
<!-- Start of breadcrumb -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container-fluid">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../../home">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../../../../index">Claims</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../summary/active-invoices-uploaded">Claim ID 6784</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/full-invoice-list">Invoices</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                    href="../../../invoices/details/20001554/01-to-check">Invoice ID 20001554</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="../../../../../../index">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Claims
            </a>
        </p>
    </div>
</nav>
<!-- End of breadcrumb -->
{% endblock %}



<!-- Start of central content -->
{% block content %}

<style>
    .app-link--copy,
    .app-link--copy:link,
    .app-link--copy:active,
    .app-link--copy:visited,
    .app-link--copy:hover {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        border-bottom-color: #007f3b;
        box-shadow: 0 2px 0 #007f3b;
        margin-bottom: 16px;
        text-transform: none;
        background-color: #fff;
        border: 1px solid #007f3b;
        color: #007f3b;
        font-size: 16px;
        font-weight: 400;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
    }

    .nhsuk-card--secondary {
        background: rgba(0, 0, 0, 0);
        border-bottom: 4px solid #d8dde0;
        border-left: 0;
        border-right: 0;
        border-top: 0
    }

    .nhsuk-card__content--secondary {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0
    }
</style>

<!-- Start of back link -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="01-to-check">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true" height="24" width="24">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back to invoice ID 20001554</a>
        </div>
    </div>
</div>
<!-- End of back link -->

<!-- Start of header block -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Person search
        </h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
            Search for a person to match to the invoice. You can use the invoice details to help you find a match.
        </div>
    </div>
</div>
<!-- End of header block -->

<!-- Start person search -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <!-- <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">
            Search for a person
        </h2> -->

        <!-- Start search criteria expander -->
        <details class="nhsuk-details nhsuk-expander" open>
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Search criteria
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <div class="nhsuk-grid-row">
                    <div class=" nhsuk-grid-column-full">

                        <form action="03-person-search-results#search-heading" method="post">

                            <div class="nhsuk-hint" id="contact-hint">
                                Search using a combination of person details fields.
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                    Last name
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="accepted" name="accepted"
                                    type="text" value="">
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                    First name
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="accepted" name="accepted"
                                    type="text" value="">
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="accepted">
                                    Residential country
                                </label>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="accepted" name="accepted"
                                    type="text">
                            </div>

                            <div class="nhsuk-form-group">
                                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                                    <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="dob">
                                        Date of birth
                                    </label>
                                    <div class="nhsuk-hint nhsuk-u-margin-bottom-1" id="target-date-hint">
                                        For example, 28 9 2023
                                    </div>
                                    <div class="nhsuk-date-input" id="example">
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                                    Day
                                                </label>
                                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                                    id="example-day" name="example-day" type="text" pattern="[0-9]*"
                                                    inputmode="numeric" value="">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                                    Month
                                                </label>
                                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                                    id="example-month" name="example-month" type="text" pattern="[0-9]*"
                                                    inputmode="numeric" value="">
                                            </div>
                                        </div>
                                        <div class="nhsuk-date-input__item">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                                    Year
                                                </label>
                                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                                    id="example-year" name="example-year" type="text" pattern="[0-9]*"
                                                    inputmode="numeric" value="">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <hr style="margin:10px 0px 10px 0px;">

                            <div class="nhsuk-hint" id="contact-hint" style="padding-top:10px;">
                                Or search using one unique identifier.
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="contested">
                                    Person unique ID
                                </label>
                                <div class="nhsuk-hint">
                                    Reference, National insurance number or NHS number.
                                </div>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="contested" name="contested"
                                    type="text">
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label--s nhsuk-u-margin-bottom-1" for="contested">
                                    Entitlement issue number
                                </label>
                                <div class="nhsuk-hint">
                                    EHIC, GHIC or PRC issue number.
                                </div>
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="contested" name="contested"
                                    type="text">
                            </div>
                            
                            <button class="nhsuk-button nhsuk-button nhsuk-u-margin-bottom-3" data-module="nhsuk-button"
                                type="submit" style="margin-top:20px;">
                                Search
                        </button>

                        </form>
                    </div>
                </div>
            </div>
        </details>
        <!-- End search criteria expander-->
    </div>


    <!-- Start of invoice details from submitting country -->
    <div class="nhsuk-grid-column-one-quarter">

        <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">
            Invoice details from France
            <span class="nhsuk-caption-m nhsuk-caption--bottom">Invoice reference: 0039795410</span>
        </h2>
        <hr style="margin:0px 0px 30px 0px;">

        <!-- Start person details-->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Person details
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Last name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Stephenson
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            First name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Kayleigh
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            10 January 1981
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Unique ID
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            JM 23 66 19 A
                        </dd>
                    </div>
                </dl>

            </div>
        </div>
        <!-- End person details-->

        <!-- Start entitlement details -->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">

                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Entitlement details
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            EHIC
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Issue number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            00874637746658873542
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            23 March 2021
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            22 March 2026
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Issue date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            23 March 2021
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <!-- End entitlement details-->

        <!-- Start invoice period and amount-->
        <div class="nhsuk-card nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-1">
                    Invoice period and amount
                </h3>
                <hr style="margin:0px 0px 10px 0px;">
                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Start date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            1 June 2023
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            2 June 2023
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Total amount
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            2134.75
                        </dd>
                    </div>
                </dl>

            </div>
        </div>
        <!-- End invoice period and amount-->

    </div>
    <!-- End of invoice details from submitting country -->

</div>

{% endblock %}
<!-- End of central content -->